@import url(reset.css);

/* CSS Document */

body {
    color: #FFFFFF;
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    background-color: #196C79 !important;
}

a {
    color: #013C64;
}

.nobg {
    background: none !important;
}

.wrapper {
    margin: 0 auto;
    overflow: hidden;
    width: 860px;
}

html, body {
    height: 100%;
}

#container {
    height: auto;
    background: url("images/content_butt.gif") no-repeat scroll 0 100% #FFFFFF;
    clear: both;
}

.menu_img {
    padding-left: 5px;
}

.headm_left {
    width: 8px;
    height: 25px;
    float: left;
    display: inline;
    overflow: hidden;
}

.content {
    background: #fff url(images/content_butt.gif) no-repeat;
    background-position: 0 100%;
    height: 370px;
    clear: both;
}

.content_top {
    background: #fff url(images/content_top.gif) no-repeat;
    height: 8px;
}

.sign_in {
    color: #013C64;
    display: inline;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

.signin_top {
    background: url(images/sign_in_top.gif) no-repeat scroll 0 0;
    width: 384px;
    height: 35px;
    border-bottom: 1px solid #278795;
}

.signin_top h1 {
    color: #003C61;
    font-size: 19px;
    font-weight: normal;
    padding: 8px 16px;
}

.signin_cont {
    background: #B6E4F1;
    border-bottom: 1px solid #278795;
    border-left: 1px solid #278795;
    border-right: 1px solid #278795; /*border-top:1px solid #278795;*/
    height: 300px;
    width: 382px;
}

.custom_signin_cont {
    background: #B6E4F1;
    border: 1px solid #88C6DB;
    height: 280px;
    width: 382px;
}

.signin_cont h1 {
    color: #003C61;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
}

.custom_signin_cont h1 {
    color: #003C61;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
}

.login_form {
    border-bottom: 1px solid #FFFFFF;
    margin-left: 30px;
    padding-bottom: 15px; /*padding-top:15px;*/
    width: 320px;
}

.login_form li {
    padding-left: 33px;
    padding-top: 7px;
}

.input {
    background: #dbeffa;
    border: 1px solid #278795;
    height: 22px;
    width: 260px;
}

.checkbox {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 7px;
    width: 166px;
}

.icon {
    clear: both;
    margin-left: 35px;
    margin-top: 7px;
    overflow: hidden;
}

.icon li {
    float: left;
    padding-left: 10px;
}

.icon a {
    color: #013C64;
    display: block;
    _float: left;
    _display: inline;
    padding-right: 3px; /*padding-top:6px;*/
}

.icon a span {
    padding-top: 5px;
    display: block;
    color: #FFFFFF;
    text-decoration: underline;
}

.sign_up {
    margin-left: 30px;
    margin-top: 15px;
    color: #013c64;
    float: left;
    width: 350px;
}

.signup_br {
    border: 1px solid #d3d3d3;
    height: 100%;
}

.signup_top {
    width: 384px;
    height: 35px;
}

.signup_top h1 {
    color: #003C61;
    font-size: 19px;
    font-weight: normal;
    padding: 3px 5px;
}

.signup_cont {
    background: #F5F5F5 none repeat scroll 0 0;
    border: 3px solid #E8E8E8;
    height: 294px;
}

.custom_signup_cont {
    background: #F5F5F5 none repeat scroll 0 0;
    border: 3px solid #E8E8E8;
    height: 276px;
}

.signup_cont h1 {
    color: #003C61;
    font-size: 18px;
    font-weight: normal;
    padding-top: 30px;
    text-align: center;
}

.custom_signup_cont h1 {
    color: #003C61;
    font-size: 18px;
    font-weight: normal;
    padding-top: 10px;
    text-align: center;
}

#features {
    font-size: 14px;
    line-height: 25px;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: disc;
    margin: 10px 0 0 67px;
}

.free_but {
    margin-top: 15px;
    text-align: center;
}

.free_but h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 18px;
    text-align: center;
}

.free_but a {
    color: #6e3d02;
    text-decoration: none;
}

.need_help {
    border-top: 1px solid #D3D3D3;
    height: 99px;
    margin-left: 19px;
    margin-top: 40px;
    padding-top: 6px;
    text-align: center;
    width: 306px;
}

#free-contact {
    margin-top: 10px;
    position: absolute;
    right: 2px;
    top: 4px;
    width: 146px;
}

#free-contact h6 {
    background: #7BA800 url(images/top-green.gif) no-repeat;
    font-size: 11px;
    height: 17px;
    color: #fff;
    text-align: center;
}

#free-contact ul {
    background: #fff url(images/bottom-white.gif) no-repeat 0 100%;
    height: 51px;
    padding-top: 2px;
    text-align: center;
}

#free-contact ul li {
    list-style: none;
    font-weight: bold;
    color: #196C79;
    line-height: 15px;
    width: 144px;
    font-size: 11px;
}

#free-contact ul li a {
    color: #ca8a00;
}

/* Start #block-nice_menus-1 */
#block-nice_menus-1, #nice-menu-1, #nice-menu-1 li {
    float: left;
}

/* Start nice-menu-1 */
#block-nice_menus-1 h2 {
    display: none;
}

#nice-menu-1 {
}

#nice-menu-1 li {
    width: 100px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
    border: none; /*background-color:#e4e4e4;*/
    background-position: 0 0;
}

#nice-menu-1 li a {
    display: block;
    line-height: 12px;
    padding: 6px;
    text-decoration: none;
    color: #196C79
}

#nice-menu-1 li .active /* , #nice-menu-1 li a:hover */
{
    padding: 6px 0;
    color: #fff;
    background-color: #85C5CF;
    background-position: -101px 0;
}

#nice-menu-1 li.menuparent {
}

#nice-menu-1 li.menuparent ul {
    display: none;
    margin-top: 2px;
}

/* End #block-nice_menus-1 */

#outer {
/*background:url(images/bg_0_bot.png) repeat-x 0% 100%;*/
    background-color: #1B6975;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

body, #header {
/*background-color:#146493;*/
/*background-image:url(images/bg_0_top.png);*/
    background-color: yellow;
    background-repeat: repeat-x;
    background-position: 0 -42px;
}

#header, #contbody, #footer {
    position: relative;
    width: /* 975 */ 850px;
    margin: 0 auto;
}

/* START HEADER */
#header {
    overflow: hidden;
    zoom: 1;
    font-weight: bold;
    background-color: #14606B;
}

#heder_free {
    overflow: hidden;
    zoom: 1;
    padding: 13px 0 0;
    width: 100%;
    font-weight: bold;
    background-color: #14606B;
}

}
#logo_site-1 {
/*position:absolute;*/
/*left:2px;*/
/*top:4px;*/
    margin-top: 1px;
    width: 200px;
    height: 40px;

}

#contbody {
    clear: both;
    margin-top: 18px;
}

#footer {
    clear: both;
    width: 944px;
    padding: 14px 15px 23px;
    min-height: 11px; /* margin-bottom:-25px; */
    font-size: 0.9166em;
    color: #FFF;
}

#footer ul {
    float: right;
}

#footer li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid #FFFFFF;
}

#footer li.end {
    border: none;
}

#footer li a {
    color: #FFF;
    text-decoration: none;
}

#footer address {
    float: right;
}

/* end #footer */
#nice-menu-1 li, #nice-menu-1 li .active /*  #nice-menu-1 li a:hover, */
{
    background-image: url(images/bg_all_horizontal_forKanolka.png);
    background-repeat: no-repeat;
}
