body {
    padding: 0;
    font-family:"Roboto";
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.signup-form-sidebar {
    position:relative;
    width: 88%;
    border:1px solid #8d8d8e;
    background: rgba(238, 239, 241, 0.9);
    padding: 5px 15px;
}

.signup-form-sidebar hr{
    margin-top:0;
    height:1px;
    background: #cccccc;
    border-bottom: 1px solid #fff;

}

.signup-form-sidebar #signUpFree input,
.signup-form-sidebar #signUpFree select {
    width:100%;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 30px;
    border: 1px solid #b1b1b1;
    background: #e5e8e7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #e5e8e7 0%, #ffffff 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e8e7), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5e8e7 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5e8e7 0%,#ffffff 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5e8e7 0%,#ffffff 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5e8e7 0%,#ffffff 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}

.signup-form-sidebar #signUpFree select {
    padding-top: 0;
    padding-bottom:0;
    background: #e5e8e7; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #e5e8e7 0%, #ffffff 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e8e7), color-stop(50%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e5e8e7 0%,#ffffff 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e5e8e7 0%,#ffffff 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e5e8e7 0%,#ffffff 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #e5e8e7 0%,#ffffff 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e8e7', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
    background-color: #fff;
    background-image: url(images/select.png);
    background-position: center right;
    background-repeat: no-repeat;

    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.signup-form-sidebar .plateTitle_big {
    font-size: 1.4em;
    font-weight:bold;
    margin-bottom:0;
    text-align:center;
}

.signup-form-sidebar  .form_signUp .form-group > .half {
    float: left;
    width:100%;
}

.signup-form-sidebar .form_signUp .form-group label {
    font-size: 14px;
    color: #373737;
    font-weight:bold;
}

.signup-form-sidebar #signUpFree label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 4px;
    height: 4px;
    margin-left: 1px;
    margin-right: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #ff4800;
    background: transparent;
}

.signup-form-sidebar fieldset {
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

.signup-form-sidebar button.fullWidth {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    text-transform:capitalize !important;
    font-weight: bold;
    margin-top: -5px;
}

button, .button, .button:active, .button:visited, input[type="button"], input[type="submit"], input[type="reset"] {
    display: inline-block;
    padding: 15px 30px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #ffffff!important;
    font-family: "Roboto", sans-serif;
    text-transform: lowercase;
    background-color: #1ea0da;
}

.signup-form-main #signUpFree button:hover {
    background: #0087bb;
}