.idea/
apache-tomcat**/
war/
buildlogs/
gwt-unitCache/
bin/
out/
web/Web.iml
solrCores/**/data/
web/web.iml
TempGWT/
web/src/.scannerwork/
web/package-lock.json
web/start-kpi-env.ps1

web/sonar-project.properties
web/.scannerwork/
web/node_modules/
/web/gulpfile.js
Installation/Docker/RabbitMQ/data/
solrCores86/**/data
volumes/
.claude/