<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            font-family: 'Arial', sans-serif;
            font-weight: 300;
            font-size: 9pt;
            line-height: 1.4;
        }
        th {
            text-align: left;
        }
        .sales-invoice-table-pdf th{
            border-bottom:1px solid black;
            font-size: 9pt;
        }
        .sales-invoice-table-pdf td{
            border-bottom:1px solid #ced5db;
            font-size: 9pt;
        }
        #sales-invoice__tmp *{
            line-height: 1.4;
        }
        .sales-invoice-table-pdf tbody *{
            word-wrap:break-word;
        }
        .currency_code__tmp {
            font-size: 8px;
            font-weight: normal;
        }
        .align_0 {
            text-align: left;
        }
        .align_1 {
            text-align: center;
        }
        .align_2 {
            text-align: right;
        }
        @media print {
            .page-break {
                display:inline-block ! important;
                page-break-inside: auto ! important;
            }
        }
    </style>
</head>
<body>
<div id="body sales-invoice__tmp">
    <img alt="images"
         src="https://workforcetrack.s3.amazonaws.com/000000000000/public/65159/a2113e82-397f-49fd-a58a-cdf4f4b93dff?AWSAccessKeyId=AKIAIROQMC77E5UKWBWQ"
         style="display: none;"/>
    #if($itextGenericPdfData.companyData.companyName == 'KPI Software Inc' or $itextGenericPdfData.companyData.companyLogoUrl == 'https://apps.kpi.com/customisation/kpi.com/images/kpilogo.png')
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="width: 88px;display: none;"/>
    #else
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="max-width: 100%; max-height: 100%; display: none;"/>
    #end

    #set($billToAddressTable = $itextGenericPdfData.baseInvoice.customBillToAddress.rows)

    #set($narrationLabel=$billToAddressTable.get('NARRATION').get('COLUMN_NAME'))
    #set($dateLabel=$billToAddressTable.get('DATE').get('COLUMN_NAME'))
    #set($referenceLabel=$billToAddressTable.get('NUMBER').get('COLUMN_NAME'))
    #set($numberLabel=$billToAddressTable.get('Number').get('COLUMN_NAME'))


    #set($narration=$billToAddressTable.get('NARRATION').get('COLUMN_VALUE'))
    #set($date=$billToAddressTable.get('DATE').get('COLUMN_VALUE'))
    #set($refence=$billToAddressTable.get('NUMBER').get('COLUMN_VALUE'))
    #set($number=$billToAddressTable.get('Number').get('COLUMN_VALUE'))

    <div>
        <table class="billing-address__tmp-bill" align="left" border="0" cellpadding="0" cellspacing="0"
               style="margin-bottom: 36pt; line-height: 1.4; font-size: 9pt;" width="60%">
            <tbody>
            #if($refence != '')
            <tr>
                <td align="left" style="color: #0a0a0a; padding:5px 0; width:100%; word-wrap: break-word;"
                    dir="$referenceLabel"><strong>$referenceLabel:</strong> <span>$refence </span></td>
            </tr>
            #end
            #if($narration != '')
            <tr>
                <td align="left" style="color: #0a0a0a; padding:4px 0; width:100%; word-wrap: break-word;"
                    dir="$narrationLabel"><strong>$narrationLabel:</strong> <span>$narration </span></td>
            </tr>
            #end
            </tbody>
        </table>

        <table align="right" border="0" cellpadding="5" cellspacing="0" class="invoice-info"
               style="margin-bottom: 36pt;font-size: 9pt; margin-left:10%; width:30%;">
            <tbody>
            #if($number != '')
            <tr>
                <th align="left" dir="$numberLabel"><strong>$numberLabel:</strong></th>
                <td align="right" dir="$number" style="color: #0a0a0a; padding-right:0;">$number</td>
            </tr>
            #end
            #if($date != '')
            <tr>
                <th align="left" dir="$dateLabel">$dateLabel:</th>
                <td align="right" dir="$date" style="color: #0a0a0a; padding-right:0;">$date</td>
            </tr>
            #end
            </tbody>
        </table>
    </div>

    #if($itextGenericPdfData.params.tableColumns)
        #set($cols = '')
        #set($ths = '')
        #set($tds = '')
        #set($colsEnd = false)
        #set($thsEnd = false)
        #set($tdborderColor = '1px solid #ced5db')
        #set($thborderColor = '1px solid black')
        #if($itextGenericPdfData.params.tableBorderEnabled)
            #set($tdborderColor = '1px solid ' + $itextGenericPdfData.params.tableBorderColor)
            #set($thborderColor = '1px solid ' + $itextGenericPdfData.params.tableBorderColor)
        #end
        #foreach($row in $itextGenericPdfData.baseInvoice.customProductTable.rows.values())
            #set($tds = $tds + '<tr>')
            #foreach($column in $itextGenericPdfData.params.tableColumns)
                #if($colsEnd == false)
                    #set($cols = $cols + '<col style="width:' + $column.width + '%"></col>')
                #end
                #set($aligClass='align_' + $column.alignment)
                #if($thsEnd == false)
                    #set($thName = '')
                    #if($column.columnTitle != '')
                        #set($thName = $column.columnTitle)
                    #else
                        #set($thName = $itextGenericPdfData.baseInvoice.customProductTable.header.get($column.columnCode))
                    #end
                    #set($thFontSize = $itextGenericPdfData.params.tableHeaderFontSize + 'pt')
                    #set($ths = $ths + '<th class="' + $aligClass + '" style="border-bottom:' + $thborderColor + ';font-size:' + $thFontSize + ';vertical-align: top;" dir="' + $directionUtils.dir($thName) + '">
                                            <strong>' + $thName + '</strong>
                                        </th>')
                #end
                #set($tdFontSize = $itextGenericPdfData.params.itemRowFontSize + 'pt')
                #set($tdName = '')
                #if($row.get($column.columnCode))
                    #set($tdName = $row.get($column.columnCode).replaceAll('\n', '<br/>'))
                #end
                #set($tds = $tds + '<td class="' + $aligClass + '" style="border-bottom:' + $tdborderColor + ';font-size:' + $tdFontSize + ';word-wrap:break-word;" dir="' + $directionUtils.dir($tdName) + '">
                                        ' + $tdName + '
                                    </td>')
            #end
            #set($tds = $tds + '</tr>')
            #set($colsEnd = true)
            #set($thsEnd = true)
        #end
        #set($borderColor = '1px solid #ffffff')
        #if($itextGenericPdfData.params.tableBorderEnabled)
            #set($borderColor = '1px solid ' + $itextGenericPdfData.params.tableBorderColor)
        #end
        <table border="0" cellpadding="10" cellspacing="0" class="table-border" style="border: $borderColor; margin-bottom: 22pt; font-size: 9pt; width:100%; table-layout:fixed;">
            <colgroup>
                $cols
            </colgroup>
            #set($theadBgColor = '#ffffff')
            #set($theadColor = $itextGenericPdfData.params.tableHeaderFontColor)
            #if($itextGenericPdfData.params.tableHeaderBackgroundColorEnabled)
                #set($theadBgColor = $itextGenericPdfData.params.tableHeaderBackgroundColor)
            #end
            <thead style="background-color: $theadBgColor; color: $theadColor;">
            <tr>
                $ths
            </tr>
            </thead>
            #set($tdBgColor = '#ffffff')
            #if($itextGenericPdfData.params.itemRowBackgroundColorEnabled)
                #set($tdBgColor = $itextGenericPdfData.params.itemRowBackgroundColor)
            #end
            #set($tdColor = $itextGenericPdfData.params.itemRowFontColor)
            <tbody style="background-color: $tdBgColor; color: $tdColor;">
                $tds
            </tbody>
        </table>
    #end

    #set($totalTable = $itextGenericPdfData.baseInvoice.customTotalTable.rows)

    #set($totalDebit = $totalTable.get('DEBIT_TOTAL').get('COLUMN_NAME'))
    #set($totalCredit = $totalTable.get('CREDIT_TOTAL').get('COLUMN_NAME'))
    #set($currencyName = $totalTable.get('CURRENCY').get('COLUMN_NAME'))
    #set($totalBaseDebit = $totalTable.get('BASE_DEBIT_TOTAL').get('COLUMN_NAME'))
    #set($totalBaseCredit = $totalTable.get('BASE_CREDIT_TOTAL').get('COLUMN_NAME'))
    #set($baseCurrencyName = $totalTable.get('BASE_CURRENCY').get('COLUMN_NAME'))
    <table align="right" border="0" cellpadding="6" cellspacing="0" class="payment-card page-break"
           style=" font-size: 9pt;border: 4pt solid #f4f4f4; border-radius: 5px;background: #f4f4f4;width: 300px;">
        <tr>
            <th style="padding-right: 12pt;width:100px;"></th>
            <th style="padding-right: 12pt;width:100px;text-align: right;"><strong>Debit</strong></th>
            <th style="padding-right: 12pt;width:100px;text-align: right;"><strong>Credit</strong></th>
        </tr>
        <tr>
            <td style="padding-right: 12pt;color:#0070f1;">
                <strong style="font-size: 12pt;">Total:</strong>($currencyName)
            </td>
            <td style="padding-right: 12pt;text-align: right;">$totalDebit</td>
            <td style="padding-right: 12pt;text-align: right;">$totalCredit</td>
        </tr>
        <tr>
            <td style="padding-right: 12pt;color:#0070f1;">
                <strong style="font-size: 12pt;">Total:</strong>($baseCurrencyName)
            </td>
            <td style="padding-right: 12pt;text-align: right;">$totalBaseDebit</td>
            <td style="padding-right: 12pt;text-align: right;">$totalBaseCredit</td>
        </tr>
    </table>
</div>
</body>
</html>
