<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
        }

        table, th, td {
            font-family: 'Calibri', sans-serif;
            font-size: 11pt;
        }

        td {
            padding: 3px;
        }

        .sales-invoice-table-pdf th {
            border-bottom: 1px solid black;
        }

        .sales-invoice-table-pdf td {
            border-bottom: 1px solid #ced5db;
        }

        .sales-invoice__tmp * {
            line-height: 1.4;
        }

        .billing-address__tmp-bill td {
            line-height: 1.4;
        }

        .page-break {
            display: inline-block ! important;
            page-break-inside: auto ! important;
        }
    </style>
</head>
<body>
<div id="body sales-invoice__tmp">
    <img alt="images" src="https://workforcetrack.s3.amazonaws.com/000000000000/public/65159/a2113e82-397f-49fd-a58a-cdf4f4b93dff?AWSAccessKeyId=AKIAIROQMC77E5UKWBWQ" style="display: none;"/>
    #if($itextGenericPdfData.companyData.companyName == 'KPI Software Inc' or $itextGenericPdfData.companyData.companyLogoUrl == 'https://apps.kpi.com/customisation/kpi.com/images/kpilogo.png')
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="width: 88px;display: none;"/>
    #else
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="max-width: 100%; max-height: 100%; display: none;"/>
    #end

    #set($headerTable = $itextGenericPdfData.baseInvoice.customNumberAndDatesTable.rows)
    #set($productTable = $itextGenericPdfData.baseInvoice.customProductTable.rows)
    #set($productTableHeader = $itextGenericPdfData.baseInvoice.customProductTable.header)
    #set($totalTable = $itextGenericPdfData.baseInvoice.customTotalTable.rows)
    #set($currency = $itextGenericPdfData.baseInvoice.currency)

    #set($nameLabel = $productTableHeader.get('NAME'))
    #set($categoryLabel = $productTableHeader.get('ITEM_CATEGORY'))
    #set($dateLabel = $productTableHeader.get('DATE'))
    #set($amountLabel = $productTableHeader.get('AMOUNT'))

    #set($referenceLabel = $headerTable.get('REFERENCE').get('COLUMN_NAME'))
    #set($periodLabel = $headerTable.get('PERIOD').get('COLUMN_NAME'))
    #set($groupLabel = $headerTable.get('GROUP').get('COLUMN_NAME'))
    #set($approverLabel = $headerTable.get('APPROVER').get('COLUMN_NAME'))
    #set($typeLabel = $headerTable.get('TYPE').get('COLUMN_NAME'))
    #set($categoryTypeLabel = $headerTable.get('CATEGORY_TYPE').get('COLUMN_NAME'))

    #set($reference = $headerTable.get('REFERENCE').get('COLUMN_VALUE'))
    #set($period = $headerTable.get('PERIOD').get('COLUMN_VALUE'))
    #set($group = $headerTable.get('GROUP').get('COLUMN_VALUE'))
    #set($approver = $headerTable.get('APPROVER').get('COLUMN_VALUE'))
    #set($type = $headerTable.get('TYPE').get('COLUMN_VALUE'))
    #set($categoryType = $headerTable.get('CATEGORY_TYPE').get('COLUMN_VALUE'))

    <!-- Header table starts-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;" align="left">
        <tr>
            <td width="60%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="">$groupLabel: <strong>#if($group != '') $group #else — #end</strong></td>
                    </tr>
                </table>
            </td>
            <td width="40%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="">$periodLabel: <strong>#if($period != '') $period #else — #end</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;" align="left">
        <tr>
            <td width="60%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="">$typeLabel: <strong>$type</strong></td>
                    </tr>
                </table>
            </td>
            <td width="40%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="">$approverLabel: <strong>#if($approver != '') $approver #else — #end</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;" align="left">
        <tr>
            <td width="60%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="">$referenceLabel: <strong>#if($reference != '') $reference #else — #end</strong>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="40%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="">$categoryTypeLabel: <strong>#if($categoryType != '') $categoryType #else —
                            #end</strong></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!-- Header table ends-->

    <!-- Product table starts-->
    <table border="0" cellpadding="10" cellspacing="0" class="product-table sales-invoice-table-pdf"
           style="table-layout: fixed; margin-bottom: 22pt;padding-top: 20px; width:100%;">
        <colgroup>
            <col style="width: 35%"></col>
            <col style="width: 20%"></col>
            <col style="width: 20%"></col>
            <col style="width: 15%"></col>
        </colgroup>
        <tbody>
        <tr>
            <th style="padding-left: 0; text-align: left; vertical-align: top;">
                <strong>$nameLabel</strong>
            </th>
            <th style="padding-left: 0;vertical-align: top; text-align: left;">
                <strong>$categoryLabel</strong>
            </th>
            <th style="padding-left: 0;vertical-align: top; text-align: left;">
                <strong>$dateLabel</strong>
            </th>
            <th style="padding-right: 0; vertical-align: top; text-align: right; white-space: nowrap;">
                <strong>$amountLabel</strong>
            </th>
        </tr>
        </tbody>
        <tbody>
        #foreach($row in $productTable.values())
        <tr>
            <td style="padding-left: 0; word-wrap:break-word;" dir="$row.get('NAME')">$row.get('NAME')</td>
            <td style="padding-left: 0; word-wrap:break-word;" dir="$row.get('ITEM_CATEGORY')" align="left">$row.get('ITEM_CATEGORY')</td>
            <td style="padding-left: 0; word-wrap:break-word;" dir="$row.get('DATE')" align="left">$row.get('DATE')</td>
            <td style="padding-right: 0; word-wrap:break-word;" dir="$row.get('AMOUNT')" align="right">$row.get('AMOUNT')</td>
        </tr>
        #end

        <tr>
            <td style="padding-left: 0; word-wrap:break-word;font-weight: bold;" dir=">$totalTable.get('TOTAL_AMOUNT').get('COLUMN_NAME')">$totalTable.get('TOTAL_AMOUNT').get('COLUMN_NAME') ($currency)
                <span style="font-weight: normal;"> ($totalTable.get('TOTAL_IN_WORDS').get('COLUMN_VALUE'))</span>
            </td>
            <td colspan="3" dir="$totalTable.get('TOTAL_AMOUNT').get('COLUMN_VALUE')" align="right" style="padding-right:0; word-wrap:break-word;">$totalTable.get('TOTAL_AMOUNT').get('COLUMN_VALUE')</td>
        </tr>
        </tbody>
    </table>
    <!-- Product table ends-->
</div>
</body>
</html>


