/* (2012.07.16) .maroon a {
    color: #C40027;
} */

.maroon #logo {
    height: 57px !important;
    background: url("/mainStyles/themes/maroon/mediacom-logo.png") no-repeat scroll 20px 5px transparent !important;
}

/*--------------------- Footer BEGIN -------------------------*/
.maroon #footer {
    position: fixed;
    bottom: 0; /*left:47%; margin-left:-471px;*/
    /*   _left: 0;*/
    left: 0; /*_margin-left: 0;*/
    width: 100%;
    height: 30px; /*_width: auto;*/
    clear: both;
    color: #fff;
    background: #002641 url(../images/themes/maroon/bg_footer.png) repeat-x 0 0;
}

.maroon #footer a {
    color: #fff;
}

.maroon #footer p a {
    text-decoration: underline;
}

.maroon #footer ul li {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid #fff;
}

.maroon .footer-inner {
    overflow: hidden;
    zoom: 1;
    padding: 9px 29px 10px;
}

/*--------------------- Footer END -----------------------------*/

/*--------------------- Titles BEGIN ---------------------------*/
.maroon .title {
    font-size: 16px;
    margin: 0 0 10px;
    color: #C40027;
}

.maroon .sub-title {
    font-size: 14px;
    color: #C40027;
    margin: 0 0 15px;
}

/*--------------------- Titles END -----------------------------*/
.maroon a.btn:hover {
    color: #C40027;
}

/*--------------------- Tab Titles BEGIN -----------------------*/
.maroon .tab-t1,
.maroon .tab-t2,
.maroon .tab-t3,
.maroon .tab-t1 span,
.maroon .tab-t2 span,
.maroon .tab-t3 span {
    float: left;
    height: 28px;
    background-image: url(images/themes/maroon/bg_tab_title.png);
}

.maroon .tab-t1,
.maroon .tab-t2,
.maroon .tab-t3 {
    display: inline;
    clear: both;
    margin: 0;
    padding: 0 29px 0 0;
    font-size: 14px;
    background-repeat: no-repeat;
}

.maroon .tab-t1 span,
.maroon .tab-t2 span,
.maroon .tab-t3 span {
    line-height: 28px;
    padding: 0 10px 0 30px;
    color: #fff;
    background-repeat: repeat-x;
}

.maroon .tab-t1 {
    background-color: #206000;
    background-position: 100% 40%;
}

.maroon .tab-t1 span {
    background-position: 0 -87px;
}

.maroon .tab-t2 {
    background-color: #002742;
    background-position: 100% -58px;
}

.maroon .tab-t2 span {
    background-position: 0 -87px;
}

.maroon .tab-t3 {
    background-color: #810b00;
    background-position: 100% -58px;
}

.maroon .tab-t3 span {
    background-position: 0 -87px;
}

/*--------------------- Tab Titles END -------------------------*/

/*--------------------- Select List BEGIN ----------------------*/

.maroon .select-list li a:hover, .maroon .select-list li.act a {
    background-color: #FFC4D7;
}

/*--------------------- Select List END ------------------------*/

/*--------------------- Zebra BEGIN ----------------------------*/
.maroon .zebra th {
    padding: 5px 10px 4px;
    color: #00375e;
    text-align: left;
    background-image: url(images/themes/maroon/bg_zebra_th.png);
    background-repeat: repeat-x;
    background-position: 0 -23px;
    background-color: #FFC4D7;
}

.maroon .zebra th.act {
    background-position: 0 0;
    background-color: #FFC4D7;
}

.maroon .zebra .stronger td {
    background-color: #FFC4D7;
}

.maroon .zebra td ul li a {
    color: #db2461;
}

.maroon .zebra th,
.maroon .zebra td {
    border-right: 1px solid #d5d5d5;
}

/*--------------------- Zebra END ------------------------------*/

/*--------------------- Steps BEGIN ----------------------------*/
.maroon .steps li span,
.maroon .steps li span em {
    float: left;
    /*background-image: url(images/themes/maroon/bg_steps_reporting.png);*/
}

.maroon .steps li span {
    height: 30px;
    padding: 3px 34px 3px 10px;
    text-decoration: none !important;
    color: #fff;
    background-position: 0 -252px;
    background-repeat: repeat-x;
    background-color: #db2461;
}

.maroon .steps li span.act {
    color: #000;
    background-position: 0 -216px;
    background-color: #ff7901;
    cursor: inherit;
}

/*.maroon .steps li span em {
    position: absolute;
    top: 0;
    width: 29px;
    height: 45px;
    background-repeat: no-repeat;
}*/

.maroon .steps li span em.right-angle {
    right: 0;
    background-position: 0 -288px;
}

.maroon .steps li span.act em.right-angle {
    background-position: 0 0;
}

.maroon .steps li span em.left-angle {
    left: -29px;
}

.maroon .steps li span.first-step em.left-angle {
    background-position: 0 -108px;
}

.maroon .steps li span.first-step.act em.left-angle {
    background-position: 0 -72px;
}

.maroon .steps li span em.left-angle {
    display: none;
}

.maroon .steps li span.act em.left-angle {
    display: block;
    background-position: 0 -415px;
}

.maroon .steps li span.act em.left-angle {
    display: block;
    background-position: 0 -36px;
}

.maroon .steps li span.last-step em.right-angle {
    background-position: 0 -180px;
}

.maroon .steps li span.last-step.act em.right-angle {
    background-position: 0 -144px;
}

/*--------------------- Steps END ------------------------------*/

/*--------------------- Columns BEGIN --------------------------*/
.maroon .colums tr th,
.maroon .colums tr.thead th {
    height: 25px;
    text-align: left;
    vertical-align: middle;
    background-image: url(images/themes/maroon/report-btn.png);
    background-repeat: repeat-x;
}

.maroon .colums tr th {
    font-size: 12px;
    padding: 0 20px;
    color: #db2461;
    background-position: 0 -29px;
    background-color: #9f9f9f;
}

.maroon .colums tr th a {
    font-size: 11px;
    color: #db2461;
}

.maroon .colums tr.thead th {
    color: #fff;
    background-position: 0 0;
    background-color: #db2461;
}

.maroon .colums tr.thead th a {
    color: #fff;
}

/*--------------------- Columns END -------------------------*/

/*--------------------- Plates BEGIN ------------------------*/
.maroon .plate-1, .plate-1-outer {
    background-image: url(images/themes/maroon/bg_plate1.png);
    background-repeat: no-repeat;
}

.maroon .plate-1 {
    width: 944px;
    margin: 0 0 20px;
    padding: 0 0 5px;
    background-position: -945px 100%;
}

.maroon .plate-1-outer {
    padding: 5px 0 0;
    background-position: 0 0;
}

.maroon .plate-1-inner {
    padding: 10px 20px;
    border-right: 1px solid #FFC5DA;
    border-left: 1px solid #FFC5DA;
    background: #FFC5DA url(images/themes/maroon/bg_plate1_inner.png) repeat-x 0 0;
}

.maroon .plate-1 form {
    font-size: 11px;
}

.maroon .plate-1 form select {
    width: 180px;
}

.maroon .plate-1 form a {
    font-weight: bold;
    color: #ff7300;
}

/* .plate-1 */

/* .plate-2 */
.maroon .plate-2,
.maroon .plate-2-outer {
    background-image: url(images/themes/maroon/bg_plate2.png);
    background-repeat: no-repeat;
}

.maroon .plate-2 {
    width: 270px;
    padding: 0 0 5px;
    background-position: -271px 100%;
}

.maroon .plate-2-outer {
    padding: 5px 0 0;
    background-position: 0 0;
}

.maroon .plate-2-inner {
    padding: 12px 16px;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    background: #ebebeb url(images/themes/maroon/bg_plate2_inner.png) repeat-x 0 0;
}

/* END .plate-2 */

/* .plate-3 */
.maroon .plate-3,
.maroon .plate-3-outer {
    background-image: url(images/themes/maroon/bg_plate3.png);
    background-repeat: no-repeat;
}

.maroon .plate-3 {
    width: 377px;
    padding: 0 0 5px;
    overflow: hidden;
    zoom: 1;
    background-position: -378px 100%;
}

.maroon .plate-3-outer {
    padding: 5px 0 0;
    background-position: 0 0;
}

.maroon .plate-3-inner {
    padding: 12px 16px;
    border-right: 1px solid #FFC4D7;
    border-left: 1px solid #FFC4D7;
    background: #FFC4D7 url(images/themes/maroon/bg_plate3_inner.png) repeat-x 0 0;
}

/* END .plate-3 */

/* plate-4 */
.maroon .plate-4 {
    width: 269px;
    padding: 12px 0 0;
    margin: 0 0 20px;
    background: #fef7d6 url(images/themes/maroon/bg_plate4.png) no-repeat 0 0;
}

.maroon .plate-4-outer {
    background: url(images/themes/maroon/bg_plate4_outer.png) repeat-y 0 0;
}

.maroon .plate-4-inner {
    padding: 0 12px 12px;
    background: url(images/themes/maroon/bg_plate4_inner.png) no-repeat 0 100%;
}

/*--------------------- Plates END --------------------------*/

/*--------------------- Header BEGIN ------------------------*/
.maroon #header {
    position: relative;
    height: 76px;
    background: url(mainStyles/themes/maroon/gradient-bg-logo.png) repeat-x 0 0; /*background: url(mainStyles/themes/maroon/top2.gif);*/
    /*font-weight: bold;*/
    color: #941943;
}

.maroon .f3 input.btn {
    width: 60px;
    height: 24px;
    border: 0;
    font-weight: bold;
    background: #ff9a00 url(images/themes/maroon/bg_f3_btn.png) no-repeat 0 0;
}

.maroon .theader .gheader {
    background-color: #faf0f0;
    color: #6f0505;
}

.maroon .theader .gheader a {
    font-size: 11px;
    color: #db2461;
}

.maroon .theader .bheader {
    color: #fff;
    background-image: url(images/themes/maroon/report-btn.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    background-color: #db2461;
    vertical-align: middle;
}

.maroon .theader .bheader a {
    color: #fff;
}

/*--------------------- Header END --------------------------*/

/*--------------------- Report List BEGIN -------------------*/
.maroon .report-list tr td {
    padding: 2px 5px;
    vertical-align: middle;
    border: 1px solid black /*#db2461*/;

}

.maroon .report-list .title {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background: #5E001F; /*#ff9a00;*/
}

.maroon .report-list .title a {
    color: white;
    text-decoration: none;
}

.maroon .report-list .total {
    /*font-weight:bold;*/
    background: #DB2461 /*#fac743*/;
}

.maroon .sub-total {
    background: #fac743;
    border-top-color: #db2461;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: #db2461;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left: 1px solid #fac743;
    border-right: 1px solid #fac743;
}

/*--------------------- Report List END ---------------------*/

.maroon .order-table .column {
    border: 1px solid #5E001F;
}

.maroon .order-table .column-title {
    text-align: center;
    background: #ff9a00;
    padding: 2px 5px;
    border: 1px solid #5E001F;
}

/* Dialog Box begin style */
.maroon .gwt-DialogBox .Caption {
    background: #bbbbbb url(images/themes/maroon/bg_htitle.png) repeat-x 0 -28px;
    padding: 4px 4px 4px 8px;
    cursor: default;
    font-weight: bold;
    border-bottom: 1px solid #db2461;
    border-top: 1px solid #db2461;
}

.maroon .gwt-DialogBox .dialogContent {
    background: white;
}

.maroon .gwt-DialogBox .dialogMiddleCenter {
    padding: 10px;
    background: white;
    height: 100%;
}

.maroon .gwt-DialogBox .dialogBottomCenter {
    background: #db2461; /*height:2px;*/
}

.maroon .gwt-DialogBox .dialogMiddleLeft {
    background: #db2461;
}

.maroon .gwt-DialogBox .dialogMiddleRight {
    background: #db2461;
}

.maroon .gwt-DialogBox .dialogTopLeft {
    background: #db2461;
}

.maroon .gwt-DialogBox .dialogTopRight {
    background: #db2461;
}

.maroon .gwt-DialogBox .dialogBottomLeft {
    background: #db2461;
}

.maroon .gwt-DialogBox .dialogBottomRight {
    background: #db2461;
}

.maroon .drs-export {
    color: #C40027;
    cursor: pointer;
    text-decoration: underline;
    vertical-align: middle;
}

.maroon .drs-loading-panel {
    color: #C40027;
    font-weight: bold;
    position: fixed !important;
    text-align: center;
    vertical-align: middle;
    padding: 5px 10px;
}

/* export link style end*/

.maroon .logoutLink {
    color: #000000;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

.maroon .noLink {
    color: #000000;
    padding-left: 10px;
}

.maroon .companyNameStyle {
    color: #5E001F;
    padding-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

.maroon .maxLogoHeight {
    max-height: 53px;
    height: auto !important;
    height: 53px;
}

.maroon .tabularInfo {
    background: url("/images/themes/maroon/tabularInfo.png") no-repeat;
}

.maroon .summariesInfo {
    background: url("/images/themes/maroon/Select-Grouping-img.jpg") no-repeat;
}

.maroon .table-reportList {
    border: 1px solid #5E001F;
}

.maroon .help-sub-title {
    color: #5E001F;
}

.maroon .order-panel > div > .gwt-Caption {
    background-image: url("images/themes/maroon/report-btn.png");
}

.maroon .cw-StackPanelHeader {
    /*background: url("reporting/icons/bg_slideDown.png") no-repeat scroll 100% -32px #E4F5FF;*/
    background-color: #fff1f1;
    border-bottom: 1px solid #e2bcbc;
    border-top: 1px solid #e2bcbc;
    color: #000000;
    font: bold 16px Arial, sans-serif;
    padding: 3px 24px 3px 30px;
    text-transform: uppercase;
}

.maroon .cw-StackPanelHeader em {
    padding-left: 20px;
    font: bold 16px Arial, sans-serif;
    color: #6F0505;
}

.maroon .cw-StackPanelHeader .colapse {
    background: url("/images/themes/maroon/arrow-down-maroon.png") no-repeat scroll 0 40% #fff1f1;
}

.maroon .cw-StackPanelHeader .expand {
    background: url("/images/themes/maroon/arrow-up-maroon.png") no-repeat scroll 0 40% #fff1f1;
}

.maroon .other-reports {
    background-color: #e2bcbc;
}

.maroon .folder-content .f-table td.f-header {
    background-color: #5E001F;
}

.maroon .table-reportList {
    border: 1px solid #5E001F;
}

.maroon .help-sub-title {
    color: #5E001F;
}

/*
.maroon .order-panel > div > .gwt-Caption {
    background-image: url("images/themes/maroon/bg_htitle.png");
}*/

.maroon .dragdrop-dropTarget tr td div:hover {
    background-color: #C40027;
}

.maroon .tsub-header odd {
    color: #5E001F;
}

.maroon .table-List td {
    color: #FFFFFF;
    vertical-align: middle;
    background-color: #e6e6e6;
}

.maroon .table-List td.thead {
    background-color: #6f0505;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #a7594a;
    color: #FFFFFF;
    line-height: 16px;
}

.maroon .table-List tr.odd td {
    background-color: #faf0f0;
}

.maroon .table-List {
    border-left: 1px solid #F3F3F3;
    border-right: 1px solid #F3F3F3;
    color: #FFFFFF;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #C5C5C5;
    margin-top: -1px;
}

.maroon .steps .act, .maroon .steps div:hover {
    background: url("/mainStyles/images/default/bg/bg_gradX_maroon-1.png") repeat-x scroll 0 0 #DADADA;
    text-shadow: 2px 2px 2px #db2461;
}

.maroon .massData td .thead {
    background-color: #6f0505;
    border-left: 1px solid #C5C5C5;
    border-right: 1px solid #a7594a;
}

.maroon .massData tr.odd td {
    background-color: #faf0f0;
}

.maroon #button-panel-inner .btn-1 {
    color: #FFFFFF !important;
}

.maroon em.optBtn {
    color: #5E001F !important;
}

.maroon .markNewReport {
    background: url("images/themes/maroon/bg_markSuggestNew.png") no-repeat scroll 5px 50% transparent;
}

.maroon .markImport {
    background: url("images/themes/maroon/bg_markImport.png") no-repeat scroll 8px 50% transparent;
}

.maroon .tablularImg {
    background-image: url(images/themes/maroon/tabular.jpg);
    width: 386px;
    height: 173px;
}

.maroon .summariesImg {
    background-image: url(images/themes/maroon/summaries.jpg);
    width: 386px;
    height: 173px;
}

.maroon .summariesColImg {
    background-image: url(images/themes/maroon/summariesCol.jpg);
    width: 297px;
    height: 275px;
}

.maroon .dotted-label {
    border: 1px dotted #5E001F !important;
}

.maroon .draggable-columns {
    border: 1px dotted #5E001F !important;
}

.maroon .markFolder {
    background: url("/images/themes/maroon/add-folder.png") no-repeat scroll 8px 50% transparent;
}

.maroon .markShare {
    background: url("/images/themes/maroon/bg_markShare.png") no-repeat scroll 10px 50% transparent;
}

.maroon .markModify {
    background: url("/images/themes/maroon/bg_markModify.png") no-repeat scroll 10px 50% transparent;
}

.maroon .markfilter-act {
    background: url("/images/themes/maroon/bg_filter.png") no-repeat scroll 10px 50% transparent;
}

.maroon .mailing-list {
    background: url("/images/themes/maroon/mailinglist.png") no-repeat scroll 10px 50% transparent;
}

.maroon .sub-title {
    color: #5E001F
}
