<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            font-family: 'Arial', sans-serif;
        }

        td {
            padding: 3px;
        }

        .title {
            font-size: 9pt;
        }

        .name {
            font-size: 7pt;
        }

        .value {
            font-size: 8pt;
        }

        .personalValue {
            font-size: 7pt;
        }

        .nameCapital {
            text-transform: capitalize;
        }

    </style>
</head>
<body>
<div>
    <img alt="images"
         src="https://workforcetrack.s3.amazonaws.com/000000000000/public/65159/a2113e82-397f-49fd-a58a-cdf4f4b93dff?AWSAccessKeyId=AKIAIROQMC77E5UKWBWQ"
         style="display: none;"/>
    #if($itextGenericPdfData.companyData.companyName == 'KPI Software Inc' or
    $itextGenericPdfData.companyData.companyLogoUrl == 'https://apps.kpi.com/customisation/kpi.com/images/kpilogo.png')
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="width: 88px; display: none;"/>
    #else
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl"
         style="max-width: 100%; max-height: 100%; display: none;"/>
    #end

    #set($numAndDatesTable = $itextGenericPdfData.baseInvoice.customNumberAndDatesTable.rows)
    #set($nameLable = $numAndDatesTable.get("NAME").get("COLUMN_NAME"))

    #set($numberLable = $numAndDatesTable.get("NUMBER").get("COLUMN_NAME"))
    #set($activeLable = $numAndDatesTable.get("ACTIVE").get("COLUMN_NAME"))
    #set($catecoryLable = $numAndDatesTable.get("CATEGORY").get("COLUMN_NAME"))
    #set($brandLable = $numAndDatesTable.get("BRAND").get("COLUMN_NAME"))
    #set($suppliersLable = $numAndDatesTable.get("SUPPLIERS").get("COLUMN_NAME"))
    #set($barcodeLable = $numAndDatesTable.get("BARCODE").get("COLUMN_NAME"))
    #set($purchasePriceLable = $numAndDatesTable.get("PURCHASE_PRICE").get("COLUMN_NAME"))
    #set($salesPriceLable = $numAndDatesTable.get("SALES_PRICE").get("COLUMN_NAME"))
    #set($purchaseAccountLAble = $numAndDatesTable.get("PURCHASE_ACCOUNT").get("COLUMN_NAME"))
    #set($salesAccountLable = $numAndDatesTable.get("SALES_ACCOUNT").get("COLUMN_NAME"))
    #set($taxLable = $numAndDatesTable.get("TAX").get("COLUMN_NAME"))
    #set($additionalInfTitle = $numAndDatesTable.get('ADDITIONAL_INFORMATION').get('COLUMN_NAME'))


    #set($overTimeHoursLable = $numAndDatesTable.get("OVERTIME_HOURS").get("COLUMN_NAME"))
    #set($overtimeEnddateLable = $numAndDatesTable.get("OVERTIME_END_DATE").get("COLUMN_NAME"))
    #set($securityTimeLable = $numAndDatesTable.get("SECURITY_TIME").get("COLUMN_NAME"))
    #set($typeLable = $numAndDatesTable.get("TYPE").get("COLUMN_NAME"))
    #set($imageUploadLable = $numAndDatesTable.get("IMAGE_UPLOAD").get("COLUMN_NAME"))
    #set($attachmentslable = $numAndDatesTable.get("ATTACHMENTS").get("COLUMN_NAME"))


    #set($name = $numAndDatesTable.get("NAME").get("COLUMN_VALUE"))
    #set($number = $numAndDatesTable.get("NUMBER").get("COLUMN_VALUE"))
    #set($active = $numAndDatesTable.get("ACTIVE").get("COLUMN_VALUE"))
    #set($catecory = $numAndDatesTable.get("CATEGORY").get("COLUMN_VALUE"))
    #set($brand = $numAndDatesTable.get("BRAND").get("COLUMN_VALUE"))
    #set($suppliers = $numAndDatesTable.get("SUPPLIERS").get("COLUMN_VALUE"))
    #set($barcode = $numAndDatesTable.get("BARCODE").get("COLUMN_VALUE"))
    #set($purchasePrice = $numAndDatesTable.get("PURCHASE_PRICE").get("COLUMN_VALUE"))
    #set($salesPrice = $numAndDatesTable.get("SALES_PRICE").get("COLUMN_VALUE"))
    #set($purchaseAccount = $numAndDatesTable.get("PURCHASE_ACCOUNT").get("COLUMN_VALUE"))
    #set($salesAccount = $numAndDatesTable.get("SALES_ACCOUNT").get("COLUMN_VALUE"))
    #set($tax = $numAndDatesTable.get("TAX").get("COLUMN_VALUE"))

    #set($overTimeHours = $numAndDatesTable.get("OVERTIME_HOURS").get("COLUMN_VALUE"))
    #set($overtimeEnddate = $numAndDatesTable.get("OVERTIME_END_DATE").get("COLUMN_VALUE"))
    #set($securityTime= $numAndDatesTable.get("SECURITY_TIME").get("COLUMN_VALUE"))
    #set($type = $numAndDatesTable.get("TYPE").get("COLUMN_VALUE"))
    #set($imageUpload = $numAndDatesTable.get("IMAGE_UPLOAD").get("COLUMN_VALUE"))
    #set($attachments = $numAndDatesTable.get("ATTACHMENTS").get("COLUMN_VALUE"))

    <table width="100%" cellpacing="0" cellpadding="0" border="0" style="font-size: 11px;">
        <tr>
            <td width="34%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $imageUploadLable</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($imageUpload != '') $imageUpload #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="66%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" style="padding: 0; margin: 0;" valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $nameLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($name != '') $name #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" style="padding: 0; margin: 0;" valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $numberLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($number != '') $number #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $catecoryLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($catecory != '') $catecory #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $suppliersLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($suppliers != '') $suppliers.replace(",","<br/>") #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $brandLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($brand != '') $brand #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $activeLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($active != '') $active #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" cellpacing="0" cellpadding="0" border="0" style="font-size: 11px;">
        <tr>
            <td width="34%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    #set($productTable = $itextGenericPdfData.baseInvoice.customProductTable.header)
                    #set($unitsLable = $productTable.get("UNIT"))
                    #set($unitpriceLable = $productTable.get("UNIT_PRICE"))
                    #set($descriptionLable = $productTable.get("DESCRIPTION"))
                    <tr>
                        <td width="26%" class="name nameCapital" style="padding: 0; margin: 0;" valign="top">
                            $unitsLable
                        </td>
                        <td width="26%" class="name nameCapital" style="padding: 0; margin: 0;" valign="top">
                            $unitpriceLable
                        </td>
                        <td width="46%" class="name nameCapital" style="padding: 0; margin: 0;" valign="top">
                            $descriptionLable
                        </td>
                    </tr>
                    #foreach($row in $itextGenericPdfData.baseInvoice.customProductTable.rows.values())
                    <tr border="1" cellpadding="6" cellspacing="0" class="payment-card"
                        style="background: #f4f4f4; font-size: 9pt; padding:4pt; border-radius: 5px;background: #f4f4f4;"
                        width="100%">
                        <td border="0" style="font-weight: bold; padding: 5px;" class="value">$row.get('UNIT')</td>
                        <td border="0" style="font-weight: bold; padding: 5px;" class="value">$row.get('UNIT_PRICE')
                        </td>
                        <td border="0" style="font-weight: bold; padding: 5px;" class="value">$row.get('DESCRIPTION')
                        </td>
                    </tr>
                    #end
                </table>
            </td>
            <td width="66%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" style="padding: 0; margin: 0;" valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $overtimeEnddateLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($overtimeEnddate != '') $overtimeEnddate #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="50%" style="padding: 0; margin: 0;" valign="top">
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $securityTimeLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($securityTime != '') $securityTime #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $overTimeHoursLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($overTimeHours != '') $overTimeHours #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table width="100%" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="100%" class="name nameCapital"> $typeLable</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;" class="value">
                                        #if($type != '') $typeLable #else — #end
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table width="100%" cellpacing="0" cellpadding="0" border="0" style="font-size: 11px;">
        <tr>
            <td width="34%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $salesPriceLable</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($salesPrice != '') $salesPrice #else — #end
                        </td>
                    </tr>
                </table>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $salesAccountLable</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($salesAccount != '') $salesAccount #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="33%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $purchasePriceLable</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($purchasePrice != '') $purchasePrice #else — #end
                        </td>
                    </tr>
                </table>
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $purchaseAccountLAble</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($purchaseAccount != '') $purchaseAccountLAble #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="33%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $taxLable</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($tax != '') $tax #else — #end
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    #set($customFieldTable = $itextGenericPdfData.customData.get("CUSTOM_FIELD"))

    #if($customFieldTable.customFields.size() > 0)

    <table width="100%" cellspacing="0" cellpadding="0" align="right"
           style="margin-top: 15px; border-bottom: 1px solid #000;">
        <tr>
            <td width="100%"></td>
        </tr>
    </table>

    <table width="100%" cellspacing="0" align="right" cellpadding="0" border="0"
           style="margin-top: 20px; margin-bottom: 15px;">
        <tr>
            <td width="100%" style="font-weight: bold;" class="title nameCapital"> $additionalInfTitle</td>
        </tr>
    </table>

    <div>
        #foreach($row in $customFieldTable.customFields.get("RENTAL_PRODUCT").values())
        <div style="width: 25%; float: left;">
            <div class="name" style="padding-bottom: 3px; padding-left: 3px;">
                $row.get('COLUMN_NAME')
            </div>
            <div style="font-weight: bold; padding-top: 3px; padding-left: 3px; padding-bottom: 15px;" class="value">
                $row.get('COLUMN_VALUE')
            </div>
        </div>
        #end
    </div>

    #end


</div>
</body>
</html>