//USER MENU ITEMS FOR HEADER AND FOOTER

//.user-menu-item__icon:hover {
//  color: $color-accent-2;
//}

//.user-menu-item__icon > .btn--icon [class*=ficon--],
//.user-menu-item__icon > [class*=ficon--] {
//  font-size: .85rem;
//}



// \ USER MENU ITEMS FOR HEADER AND FOOTER

//RIGHT MENU FOOTER
//.frame__user__footer {
//  font-size: 11px;
//  font-size: 0.75em;
//  text-align: center;
//}

// \ RIGHT MENU FOOTER

.alert-point:after {
  display: none;
  content: '';
  position: absolute;
  top: 3px;
  right: -0.3em;
  width: 7px;
  height: 7px;
  border-radius: $radius-basePlus;
  /* background: #fba800; */
  border: 2px solid $warning-color;
}

// Start FOOTER
.frame__info { //bottom buttons panel
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-top: 1px solid $color-base-0;
  padding-right: $frameContentPadding;
  background-color: $body-bg;

  > * {
    display: flex;
    align-items: stretch;
    //flex-grow: 0;
    > * {
      display: flex;
      align-items: center;
    }
  }

  &__informers {
    flex-grow: 1;
    //overflow: hidden; // for compose email > add link > table with long description
    .compose & {
      flex:0 1 auto;
    }

    figure {
      position: relative;
      margin: 0;
      //padding: $frameContentPadding;
      padding: 10px $frameContentPadding;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 auto;
      cursor: pointer;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        height: 2px;
        background: $link-color;
        transition: left .3s ease, right .3s ease;
      }
      &.active:before {
        left: 0;
        right: 0;
      }

      + figure {
        //margin-left: rem(20px); lead to the next problem //https://prnt.sc/quhmtm
        padding-left: ($frameContentPadding * .5);
      }
      &:hover {
        color: #000;
      }

      .badge {
        position: absolute;
        top: 0;
        left: 100%;
        margin-left: 8px;
        line-height: .8;
        background-color: $black-light;
      }

      .dropdown-content {
        //top: auto !important;
        //bottom: 100% !important;
        //max-height: 80vh;
        //width: auto !important;
        //min-width: 428px;
        //overflow: visible;
        //margin-bottom: 20px;
      }
      &:first-child .dropdown-content {
        //left: $frameContentPadding !important;
      }
      .icon--docHistory {
        width: 23px;
        height: 21px;
      }
    }
    //.add-links {
    //  flex-direction: row-reverse;
    //  padding-right: 20px;
    //
    //  > div:first-child {
    //    flex: 0 1 auto;
    //  }
    //
    //  table {
    //    table-layout: fixed;
    //
    //    > tbody > tr > td {
    //      &:first-child {
    //        width: 150px;
    //        padding-right: 15px;
    //      }
    //      + td {
    //        width:  auto;
    //      }
    //      .gwt-Label,
    //      .gwt-HTML {
    //        overflow: hidden;
    //        white-space: nowrap;
    //        text-overflow: ellipsis;
    //      }
    //    }
    //  }
    //}
    //.tabBarLinks {
    //  flex: 1 0 auto;
    //  margin-right: 20px;
    //  white-space: nowrap;
    //}
  }
  .frame__info-paging {
    padding-left: rem(25px);
  }

  &__actions {
    align-items: center;
    .frame__info__informers + & {
      padding-left: 20px;
    }
    &:only-child {
      margin-left: auto; // if el will be single it force it to the right side
    }
    &:first-child {
      padding-left: 30px;
    }
    &:last-child {
      padding-right: 30px;
    }
    .add-form & {
    }
    > * + * {
      margin-left: $btnsRowGap;
    }
  }
}
.modal .modal-wrapper .frame__info { //https://prnt.sc/uu05tv
  left: 0 !important;
}

.informer-item {
  &__icon {
    position: relative;
    text-align: center;
    &.has-expense {
      &:before {
        content: '';
        position: absolute;
        top: -3px;
        left: -3px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $danger-color;
      }
    }
  }
  textarea {
    min-height: 30vh;
  }

  .dropdown-content {
    left: $frameContentPadding !important;
    top: auto !important;
    bottom: 100% !important;
    max-height: 80vh;
    width: auto !important;
    min-width: 428px;
    overflow: visible;
    margin-bottom: 20px;
    border: 1px solid $control-border-color; //https://prnt.sc/s1vg9m

    [dir="rtl"] & {
      left: auto;
      right: $frameContentPadding !important;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 35px;
      top: 100%;
      height: 0;
      width: 0;
      border: 10px solid transparent;

      [dir="rtl"] & {
        left: auto;
        right: 35px;
      }
    }
    &:before {
      border-top-color: $color-base-1;
    }
    &:after {
      margin-top: -2px;
      border-top-color: #fff;
    }
    > li {
      height: 100%;
      border: none;
    }

    textarea {
      border: none; //https://prnt.sc/s1vg9m
      box-shadow: none;
    }
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($success-color, 0.4);
    box-shadow: 0 0 0 0 rgba($success-color, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba($success-color, 0.2);
    box-shadow: 0 0 0 10px rgba($success-color, 0.2);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($success-color, 0);
    box-shadow: 0 0 0 0 rgba($success-color, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($success-color, 0.4);
    box-shadow: 0 0 0 0 rgba($success-color, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba($success-color, 0.2);
    box-shadow: 0 0 0 10px rgba($success-color, 0.2);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($success-color, 0);
    box-shadow: 0 0 0 0 rgba($success-color, 0);
  }
}

// End FOOTER

