
.panel-box{
  display: flex !important;
  align-items: center;
  margin-bottom:0.76923rem;
}
.panel-box--right{
  justify-content: flex-end;
}
.panel-box__item:not(:first-child){
  margin-left: 0.76923rem;
}