.combo-widget {
  img {
    max-width: 100%;
  }

  .widget-content {
    display: flex;
    height: 100%;
    overflow: hidden;
  }

  .combo-widget-item {
    display: flex;
    flex-direction: column;
    height: 100%;

    + .combo-widget-item {
      border-left: 1px solid $body-bg;
    }
  }

  // figures
  figure {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .figure__img {
  }
  figcaption {
    dl {
      margin: 0;
    }
    dt {
      text-transform: uppercase;
    }
    dd {
      margin-left: 0;
    }
  }
  // \ figures

  dl {
    margin: 0;
    dt {
    }
    dd {
      margin-left: 0;
    }
  }

  &-weather,
  &-messages,
  &-news {
    flex: 0 0 22.5%;
  }
  &-weather,
  &-messages {
    > * {
      padding-top: rem(22px);
      padding-left: $widget-padding-x;
      padding-right: $widget-padding-x;
    }

    &:hover {
      background-color: #fff;
    }

    figcaption {
      font-size: rem(24px);

      dd {
        font-size: .65em;
        color: $color-base-2;
      }
    }
    .figure__img {
      height: 102px;
    }
  }

  &-weather {
    .combo-widget__title {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    figure {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    .figure__img {
      position: relative;
      text-align: center;
      color: $color-base-2;
      img {
        width: 160px !important;
        margin-top: -21%; //image empty space compensate
        margin-bottom: -21%;
      }

      dd {
        position: absolute;
        top: 100%;
        width: 100%;
      }
    }
    figcaption {
      padding-right: rem(11px);
    }
  }

  .weather-degrees {
    overflow: hidden;
    position: relative;
    display: inline-flex;
    font-size: 1em;
    border-radius: $radius-base;
    border: 1px solid $color-base-1;

    a {
      position: relative;
      padding: 2px;
      width: 34px;
      text-align: center;

      + a {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom:0;
          left: 0;
          width: 1px;
          background: $color-base-1;
        }
      }

      color: #000;
      &:not(.active) {
        background: $body-bg;
        &:hover {
          background-color: darken($body-bg,4%);
        }
      }
      &.active {
        cursor: default;
        background: #fff;
      }
    }
  }

  &-messages {
    .combo-widget__body {
      cursor: pointer;
    }
    figcaption dt {
      color: $color-accent-1;
    }

    figcaption {
      padding-left: ($widget-padding-x * 1.2);
    }
  }

  &-news {
    .widget-row {
      flex-direction: column;
      align-items: flex-start;
    }
    img {
      max-width: 100%;
      height: auto !important;
    }
    dd {
      span, p, h1, h2, h3, h4, h5 { // Prevent wiziwig editor styles
        margin-top: 0 !important;
        margin-bottom: 0.4em !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        font-size: 1rem !important;
        line-height: 1.4 !important;
      }
      p {
      }
      br + br {
        display: none;
      }
      span + a {
        margin-left: .3em;
      }
    }
  }
  &-birthday {
    flex-grow: 1;

    .combo-widget__title .figure__img,
    .widget-row__img {
      flex: 0 0 rem(60px);
    }

    .img-group {
      width: rem(40px);
      height: rem(40px);
    }

    .widget-row__end {
      flex: 0 0 88px;
      justify-content: flex-start;
      max-width: 88px;
      white-space: normal;
    }
  }

  .widget-row {
    min-height: 65px;

    dd {
      font-size: rem(11px);
      color: $color-base-2;
    }
  }
  .widget-row__img {
  }
  .widget-row__text {
  }
  .widget-row__end {
  }
}

.combo-widget__title {
  flex: 0 0 83px;
  padding-top: ($widget-padding-x / 4) * 3;

  h3 {
    margin-top: 0;
    margin-bottom: rem(8px);
    font-size: rem(13px);
    //color: $color-accent-2;
  }
  h4 {
    margin: 0;
    font-size: rem(12px);
    color: $color-base-2;

    a[href^="mailto:"] {
      color: $color-base-2;
      &:hover {
        color: $text-color-base;
      }
    }
  }

  .combo-widget-news & {
    padding-left: $widget-padding-x;
  }

  .combo-widget-birthday & {
    figure {
      align-items: flex-start;
    }
    figcaption {
      padding-left: ($widget-padding-x * 1.5);
    }
    border-bottom: 1px solid $body-bg;

    .figure__img {
      padding-left: $widget-padding-x;
      img {
        margin-top: -5px;
      }
    }
  }
}

.combo-widget__body {
  overflow-y: auto;
  flex: 1 0 auto;

  .combo-widget-news &,
  .combo-widget-birthday & {
    flex: auto;
    height: 100%;
    overflow-y: auto;
    //padding-top:rem(5px);
  }
}