.gwt-PopupPanelGlass {
    background-color: #000;
    opacity: 0.3;
    -ms-filter: "alpha(opacity=30)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    zoom: 1;
}

.slippery {
    position: fixed;
    _position: relative;
    bottom: 61px;
    _bottom: 0;
    left: 47%;
    margin-left: -471px;
    _left: 0;
    _margin-left: 0;
    width: 1004px;
    _width: auto;
    height: 44px;
    z-index: 0;
    opacity: 0.25;
    background: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
    filter: alpha(opacity=25);
}