<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style></style>
</head>
<body>
#foreach ($productItem in $itextGenericPdfData.productItems)
<table style=" width: 226px; height: 113px;border-radius: 8px; margin: 5px 2px; padding: 6 6; background-color: whitesmoke">

    <tr>
        <td colspan="2" style="font-size: 11px;">$productItem.name</td>
    </tr>
    <tr>
        <td style="font-size: 11px;">Description:</td>
        <td style="font-size: 11px; text-align: right">$productItem.description</td>
    </tr>

    <!--    <tr style="border: 1px dotted black">-->
    <!--        <td align="left" style="font-size: 11px; font-weight: bold">Price:</td>-->
    <!--        <td align="right" style="font-size: 11px; font-weight: bold">$productItem.unitpPrice</td>-->
    <!--    </tr>-->
    #set($imageUrl = $productItem.barCodeString)
    <tr align="center">
        <td colspan="2"><img alt="" src="$imageUrl" width="100"/></td>
    </tr>
    <tr align="center">
        <td colspan="2"><span style="font-size: 11px">$productItem.productNumber</span></td>
    </tr>
</table>

</div>
#end
</body>
</html>