<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <title>Budget Beta</title>
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="../WebContent/mainStyles/new-ui/images/favicon.png" rel="shortcut icon" type="image/png"/>
</head>
<body style="border-top: 1px solid transparent">
<img alt="images"
     src="https://workforcetrack.s3.amazonaws.com/000000000000/public/65159/a2113e82-397f-49fd-a58a-cdf4f4b93dff?AWSAccessKeyId=AKIAIROQMC77E5UKWBWQ"
     style="display: none;"/>
#if($itextGenericPdfData.companyData.companyName == 'KPI Software Inc' or
$itextGenericPdfData.companyData.companyLogoUrl == 'https://apps.kpi.com/customisation/kpi.com/images/kpilogo.png')
<img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="width: 88px;display: none;"/>
#else
<img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl"
     style="max-width: 100%; max-height: 100%; display: none;"/>
#end

<table cellpadding="5" cellspacing="0" class="t_budgetBeta tbl" style="table-layout: fixed; font-size: 12px;"
       width="100%">
    <thead class="t_budgetBeta__header">
    <tr class="t_budgetBeta__header__r2">
        <td class="spaceHolder"></td>
        <td align="center" class="cellColor__month" colspan="2"
            style="background: #ced5db; border: 1px solid #fff; font-weight: bold">May
        </td>
        <td align="center" class="cellColor__month" colspan="2"
            style="background: #ced5db;border: 1px solid #fff; font-weight: bold">Jun
        </td>
        <td align="center" class="cellColor__total" colspan="2"
            style="background: #d0edcc;border: 1px solid #fff; font-weight: bold">Total
        </td>
        <td align="center" class="cellColor__total" colspan="2"
            style="background: #d0edcc;border: 1px solid #fff; font-weight: bold">Variance
        </td>
    </tr>

    <tr class="t_budgetBeta__header__r2">
        <td class="spaceHolder"></td>
        <td align="center" class="cellColor__month-2"
            style="border: 1px solid #fff;background: #244f6d; color: white; font-weight: normal">Budget
        </td>
        <td align="center" class="cellColor__month-2"
            style="border: 1px solid #fff;background: #244f6d; color: white; font-weight: normal">Actual
        </td>
        <td align="center" class="cellColor__month-2"
            style="border: 1px solid #fff;background: #244f6d; color: white; font-weight: normal">Budget
        </td>
        <td align="center" class="cellColor__month-2"
            style="border: 1px solid #fff;background: #244f6d; color: white; font-weight: normal">Actual
        </td>
        <td align="center" class="cellColor__total-2"
            style="border: 1px solid #fff;background: #3e851f; color: white; font-weight: normal">Budget
        </td>
        <td align="center" class="cellColor__total-2"
            style="border: 1px solid #fff;background: #3e851f; color: white; font-weight: normal">Actual
        </td>
        <td align="center" class="cellColor__total-2"
            style="border: 1px solid #fff;background: #3e851f; color: white; font-weight: normal">Difference
        </td>
        <td align="center" class="cellColor__total-2"
            style="border: 1px solid #fff;background: #3e851f; color: white; font-weight: normal">Difference%
        </td>
    </tr>
    </thead>

    <tbody class="spaceHolder">
    <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>


    <tbody>
    <tr class="t_budgetBeta_hRow">
        <th align="center"
            style="line-height: 1; text-align: left; background: #06658a; color: #fff;font-weight: normal;">
            Revenue
        </th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
    </tr>

    <tr class="t_budgetBeta_fRow" style=" text-align: right">
        <th align="left" style="line-height: 1; border: 1px solid #000; font-weight: normal">Total Revenue</th>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
    </tr>
    </tbody>

    <tbody class="spaceHolder">
    <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>

    <tbody>
    <tr class="t_budgetBeta_hRow">
        <th align="center"
            style="line-height: 1; text-align: left; background: #06658a; color: #fff; font-weight: normal">
            Expenses and Current Access
        </th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
    </tr>

    <tr class="" style=" text-align: right">
        <th align="left" style="line-height: 1; border: 1px solid #000; font-weight: normal">Employee cost</th>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
    </tr>

    <tr class="t_budgetBeta_fRow" style=" text-align: right">
        <th align="left" style="line-height: 1; text-align: left; border: 1px solid #000; font-weight: normal">Total
            Expenses and Current
            Access
        </th>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000; font-weight: bold;">0,00</td>
    </tr>
    </tbody>
    <tbody class="spaceHolder">
    <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>

    <tbody>
    <tr class="t_budgetBeta_hRow">
        <th align="center"
            style="line-height: 1;text-align: left; background: #06658a; color: #fff; font-weight: normal">
            Purchases
        </th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
        <th align="left" style="background: #06658a;">&nbsp;</th>
    </tr>

    <tr class="" style=" text-align: right">
        <th align="left" style="line-height: 1; border: 1px solid #000; font-weight: normal">Purchases</th>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
        <td style="border: 1px solid #000">0,00</td>
    </tr>

    <tr class="t_budgetBeta_fRow" style=" text-align: right">
        <th align="left" style="line-height: 1; border: 1px solid #000; font-weight: normal">Total Purchases</th>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
        <td style="border: 1px solid #000;  font-weight: bold;">0,00</td>
    </tr>
    </tbody>

    <tbody class="spaceHolder">
    <tr>
        <td height="10"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>

    <tfoot>
    <tr class="" style=" text-align: right">
        <th align="left"
            style="line-height: 1; border: 1px solid #000; font-weight: normal; text-transform: uppercase;">
            Project Profit
        </th>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
        <td style="border: 1px solid #000;background: #d0edcc">0,00</td>
    </tr>
    </tfoot>

</table>
</body>
</html>