<div class="contentBar">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <!--<div class="collapsible-header active"-->
            <!--onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">-->
            <!--<a style="cursor: pointer;"><span>$$label:DETAILS$$</span></a>-->
            <!--</div>-->
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__content">$$input:DESCRIPTION$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:START_DATE$$</div>
                            <div class="form-group__content">$$input:START_DATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EXPIRATION_DATE$$</div>
                            <div class="form-group__content">$$input:EXPIRATION_DATE$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:COUNTRY$$</div>
                            <div class="form-group__content">$$input:COUNTRY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CITY$$</div>
                            <div class="form-group__content">$$input:CITY$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>