<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-4">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:account$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:date$$
                                </div>
                                <div class="col-6">
                                    $$input:postdated$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:checknumber$$
                                </div>
                                <div class="col-6">
                                    $$input:number$$
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:reference$$
                                </div>
                                <div class="col-6">
                                    $$input:toFrom$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:exrate$$
                                </div>
                                <div class="col-6">
                                    $$input:taxcalc$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:project$$
                                </div>
                                <div class="col-6">
                                    $$input:showmore$$
                                </div>
                            </div>
                        </div>
                    </div>
                    $$input:taxtreatment$$
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 mb-4">
        $$input:itemtable$$
    </div>
    <div class="mb-4">
        <div class="grid-row">
            <div class="col">
                $$input:instruction$$
            </div>
            <div class="col-auto">
                $$input:totalstable$$
            </div>
        </div>
    </div>
</div>
<!--<div class="section-box">-->
<!--$$input:customfields$$-->
<!--<div class="group-box__items">-->
<!--$$input:pdftemplate$$-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-group box-bg&#45;&#45;2 invoice__footer">-->
<!--<div class="section-box invoice__post-fields">-->
<!--<div class="group-box invoice__payment-history">-->
<!--<div class="group-box__items">-->
<!--<div id="inv_all_history" class="group-box__item">-->
<!--$$input:allhistorypanel$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="group-box">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="group-box__items">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="group-box__item">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="group-box__item-label">$$label:notes$$</div>&ndash;&gt;-->
<!--&lt;!&ndash;$$input:notes$$&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="group-box__item">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="group-box__item-label">$$label:attachments$$</div>&ndash;&gt;-->
<!--&lt;!&ndash;$$input:attachments$$&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<div class="section-box">-->
<!--$$input:totalstable$$-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box">-->
<!--<div class="btns-group text-right">-->
<!--$$input:saveButton$$-->
<!--$$input:editButton$$-->
<!--$$input:pdfVersionButton$$-->
<!--$$input:deleteButton$$-->
<!--$$input:closeButton$$-->
<!--</div>-->
<!--</div>-->