<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:bank$$
                    </div>
                    <div class="col-4">
                        $$input:date$$
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-8">
                                $$input:number$$
                            </div>
                            <div class="col-4">
                                $$input:postdated$$
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:memo$$
                    </div>
                    <div class="col-4">
                        $$input:payto$$
                    </div>
                    <div class="col-4">
                        $$input:amount$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:mailaddress$$
                    </div>
                    <div class="col-4">
                        $$input:project$$
                        $$input:checkboxoptions$$
                    </div>
                    <div class="col-4">
                        $$input:currency$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-8">
                        $$label:amount$$
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="invoice__products-table">
            <!-- place table here -->
            $$input:itemtable$$
        </div>
    </div>
</div>