<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row mb-4">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:customer$$
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:paymentdate$$
                            </div>
                            <div class="col-6">
                                $$input:account$$
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        $$input:number$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:reference$$
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:amount$$
                            </div>
                            <div class="col-6">
                                $$input:exrate$$
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:invoicetype$$
                            </div>
                            <div class="col-6">
                                $$input:showmore$$
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:UnderpaymentAccount$$
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:department$$
                            </div>
                            <div class="col-6">
                                $$input:showsat$$
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row mb-4">
                    <div class="col">
                        $$input:itemtable$$
                    </div>
                </div>
                <div class="grid-row mt-4">
                    <div class="col-4">
                        $$input:OverpaymentAmount$$
                    </div>
                    <div class="col-4">
                        $$input:OverpaymentAccount$$
                    </div>
                    <div class="col-4">
                        $$input:totalstable$$
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="invoice-block">-->
<!--<div class="section-box box-bg&#45;&#45;1">-->
<!--<div class="group-box group-box&#45;&#45;united">-->
<!--&lt;!&ndash;<div class="group-box__title">$$label:title$$</div>&ndash;&gt;-->
<!--<div class="group-box__items">-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:customer$$</div>-->
<!--<div class="group-box__item-content">$$input:customer$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:account$$</div>-->
<!--<div class="group-box__item-content">$$input:account$$</div>-->
<!--</div>-->
<!--<div class="group-box__item invoice__date">-->
<!--<div class="invoice__date">-->
<!--<div class="group-box__item-label">$$label:paymentdate$$</div>-->
<!--<div class="group-box__item-content">$$input:paymentdate$$</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="group-box__item group-box__item&#45;&#45;width-free">-->
<!--<div class="group-box__item-label">$$label:invoicetype$$</div>-->
<!--<div class="group-box__item-content">$$input:invoicetype$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:number$$</div>-->
<!--<div class="group-box__item-content">$$input:number$$</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="group-box__items">-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:amount$$</div>-->
<!--<div class="group-box__item-content">$$input:amount$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:paymenttype$$</div>-->
<!--<div class="group-box__item-content">$$input:paymenttype$$</div>-->
<!--</div>-->
<!--$$input:department$$-->
<!--<div class="group-box__item group-box__item&#45;&#45;split-right">-->
<!--<div class="group-box__item-label">$$label:reference$$</div>-->
<!--<div class="group-box__item-content">$$input:reference$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label"></div>-->
<!--<div class="group-box__item-content group-box__item-content&#45;&#45;no-border">$$input:showsat$$</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;$$input:customfields$$&ndash;&gt;-->
<!--<div class="group-box group-box&#45;&#45;separate-top">-->
<!--<div class="group-box__items">-->
<!--<div id="inv_currency" class="group-box__item invoice__currency">-->
<!--<div class="group-box__item-label">$$label:exrate$$</div>-->
<!--<div class="group-box__item-content">$$input:exrate$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:description$$</div>-->
<!--<div class="group-box__item-content group-box__item-content&#45;&#45;no-border">$$input:description$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:UnderpaymentAccount$$</div>-->
<!--<div class="group-box__item-content">$$input:UnderpaymentAccount$$</div>-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:project$$</div>-->
<!--<div class="group-box__item-content">$$input:project$$</div>-->
<!--</div>-->
<!--$$input:pdftemplate$$-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box box-bg&#45;&#45;1">-->
<!--<div class="group-box__item">-->
<!--<div class="group-box__item-label">$$label:attachments$$</div>-->
<!--$$input:attachments$$-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-group box-bg&#45;&#45;2 invoice__footer">-->
<!--<div class="section-box invoice__post-fields">-->
<!--<div class="group-box invoice__payment-history">-->
<!--<div class="group-box__items">-->
<!--<div id="inv_all_history" class="group-box__item">-->
<!--$$input:allhistorypanel$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="group-box">-->
<!--<div class="group-box__items">-->
<!--$$input:OverpaymentAccount$$-->
<!--$$input:OverpaymentAmount$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box">-->
<!--$$input:totalstable$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box">-->
<!--<div id="inv__action-btns" class="group-box group-box&#45;&#45;width-free group-box&#45;&#45;align-right group-box&#45;&#45;side-out">-->
<!--<div class="group-box__items">-->
<!--<div class="group-box__item invoice-btn-save">-->
<!--$$input:saveButton$$-->
<!--</div>-->
<!--<div class="group-box__item invoice-btn-default">-->
<!--$$input:editButton$$-->
<!--</div>-->
<!--<div class="group-box__item invoice-btn-pdf">-->
<!--$$input:voidButton$$-->
<!--</div>-->
<!--<div class="group-box__item invoice-btn-pdf">-->
<!--$$input:pdfVersionButton$$-->
<!--</div>-->
<!--<div class="group-box__item invoice-btn-default">-->
<!--$$input:deleteButton$$-->
<!--</div>-->
<!--<div class="group-box__item invoice-btn-default">-->
<!--$$input:closeButton$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->