<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-body no-border">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:REQUESTER$$</div>
                            <div class="form-group__content">$$input:REQUESTER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DATE_PERIOD$$</div>
                            <div class="form-group__content">$$input:DATE_PERIOD$$</div>
                        </div>
                        <div class="form-group">
<!--                            <div class="form-group__label">$$label:DESCRIPTION$$</div>-->
                            <div class="form-group__content">$$input:DESCRIPTION$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:LEFT_QUANTITY$$</div>
                            <div class="form-group__content">$$input:LEFT_QUANTITY$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:APPROVER$$</div>
                            <div class="form-group__content">$$input:APPROVER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:BENEFIT_TYPE$$</div>
                            <div class="form-group__content">$$input:BENEFIT_TYPE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:REQUESTED_QUANTITY$$</div>
                            <div class="form-group__content">$$input:REQUESTED_QUANTITY$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>