<div class="contentBar">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:DETAILS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:FINANCIAL_YEAR$$</div>
                            <div class="form-group__content">$$input:FINANCIAL_YEAR$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FORCED_DISTRIBUTION$$</div>
                            <div class="form-group__content">$$input:FORCED_DISTRIBUTION$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:BUDGET_YEAR$$</div>
                            <div class="form-group__content">$$input:BUDGET_YEAR$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:BUDGET_ID$$</div>
                            <div class="form-group__content">$$input:BUDGET_ID$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:BONUS_SETTINGS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:TITLE$$</div>
                            <div class="form-group__content">
                                <table class="scoreTable">
                                    <tbody>
                                    <tr>
                                        <th>$$label:SCORE_A$$</th>
                                        <td>$$input:SCORE_A$$</td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE_B$$</th>
                                        <td>$$input:SCORE_B$$</td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE_C$$</th>
                                        <td>$$input:SCORE_C$$</td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE_D$$</th>
                                        <td>$$input:SCORE_D$$</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:TITLE1$$</div>
                            <div class="form-group__content">
                                <table class="scoreTable">
                                    <tbody>
                                    <tr>
                                        <th>$$label:SCORE1_A$$</th>
                                        <td><div class="input-group">$$input:SCORE1_A$$%-$$input:SCORE11_A$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE1_B$$</th>
                                        <td><div class="input-group">$$input:SCORE1_B$$%-$$input:SCORE11_B$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE1_C$$</th>
                                        <td><div class="input-group">$$input:SCORE1_C$$%-$$input:SCORE11_C$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE1_D$$</th>
                                        <td><div class="input-group">$$input:SCORE1_D$$%-$$input:SCORE11_D$$%</div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:TITLE2$$</div>
                            <div class="form-group__content">
                                <table class="scoreTable">
                                    <tbody>
                                    <tr>
                                        <th>$$label:SCORE2_A$$</th>
                                        <td><div class="input-group">$$input:SCORE2_A$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE2_B$$</th>
                                        <td><div class="input-group">$$input:SCORE2_B$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE2_C$$</th>
                                        <td><div class="input-group">$$input:SCORE2_C$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE2_D$$</th>
                                        <td><div class="input-group">$$input:SCORE2_D$$%</div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:TITLE3$$</div>
                            <div class="form-group__content">
                                <table class="scoreTable">
                                    <tbody>
                                    <tr>
                                        <th>$$label:SCORE3_A$$</th>
                                        <td><div class="input-group">$$input:SCORE3_A$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE3_B$$</th>
                                        <td><div class="input-group">$$input:SCORE3_B$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE3_C$$</th>
                                        <td><div class="input-group">$$input:SCORE3_C$$%</div></td>
                                    </tr>

                                    <tr>
                                        <th>$$label:SCORE3_D$$</th>
                                        <td><div class="input-group">$$input:SCORE3_D$$%</div></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
