<div class="section-box box-bg--1">
    <div class="group-box">
        <div class="grid-row">
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group__label">$$label:location$$</div>
                    <div class="form-group__content">$$input:location$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:name$$</div>
                    <div class="form-group__content">$$input:name$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:description$$</div>
                    <div class="form-group__content">$$input:description$$</div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group__label">$$label:number$$</div>
                    <div class="form-group__content">$$input:number$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:category$$</div>
                    <div class="form-group__content">$$input:category$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:status$$</div>
                    <div class="form-group__content">$$input:status$$</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="form-group__label">$$label:reservationHistory$$</div>
            <div class="form-group__content">$$input:reservationHistory$$</div>
        </div>
    </div>
</div>