<div class="section-box box-bg--1">
    <div class="group-box">
        <div class="grid-row">
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group__label">$$label:reservedBy$$</div>
                    <div class="form-group__content">$$input:reservedBy$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:category$$</div>
                    <div class="form-group__content">$$input:category$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:bookingItem$$</div>
                    <div class="form-group__content">$$input:bookingItem$$</div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group__label">$$label:fromDate$$</div>
                    <div class="form-group__content">$$input:fromDate$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:toDate$$</div>
                    <div class="form-group__content">$$input:toDate$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:addLink$$</div>
                    <div class="form-group__content">$$input:addLink$$</div>
                </div>
            </div>
        </div>
        <div class="overHide"> $$label:reservationHistory$$
            <div class="field"> $$input:reservationHistory$$</div>
        </div>
    </div>
</div>