<div class="contentBar file--brand">
    <div class="grid-row">
        <div class="col-6">
            <div class="form-group">
                <div class="form-group__label">$$label:NAME$$</div>
                <div class="form-group__content">$$input:NAME$$</div>
            </div>
            <div class="form-group">
                <div class="form-group__label">$$label:DESCRIPTION$$</div>
                <div class="form-group__content">$$input:DESCRIPTION$$</div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <div class="form-group__label">$$label:PARENT$$</div>
                <div class="form-group__content">$$input:PARENT$$</div>
            </div>
            <div class="form-group">
                <div class="form-group__label">$$label:IMAGE_PANEL$$</div>
                <div class="form-group__content">$$input:IMAGE_PANEL$$</div>
            </div>
        </div>
    </div>
</div>