<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">

        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:COMPANY_INFORMATION$$</span></a>
            </div>

            <div class="collapsible-body file--consalidation_add_edit">
                <div class="single-column">
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:FIRST_NAME$$</h5>
                        <div class="field">$$input:FIRST_NAME$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:LAST_NAME$$</h5>
                        <div class="field">$$input:LAST_NAME$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:E_MAIL$$</h5>
                        <div class="field">$$input:E_MAIL$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:PHONE_NUMBER$$</h5>
                        <div class="field">$$input:PHONE_NUMBER$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SUBSIDIARY_NAME$$</h5>
                        <div class="field">$$input:SUBSIDIARY_NAME$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:COUNTRY$$</h5>
                        <div class="field">$$input:COUNTRY$$</div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:ADDRESS_INFORMATION$$</span></a>
            </div>

            <div class="collapsible-body">
                <div class="two-column">

                    <div class="column">
                        <h3 class="sectTitle">$$label:BILLING_ADDRESS$$</h3>
                    </div>
                    <div class="column">
                        <h3 class="sectTitle">$$label:SHIPPING_ADDRESS$$</h3>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_ADDRESS_LINE1$$</h5>
                        <div class="field">$$input:BILLING_ADDRESS_LINE1$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_ADDRESS_LINE1$$</h5>
                        <div class="field">$$input:SHIPPING_ADDRESS_LINE1$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_ADDRESS_LINE2$$</h5>
                        <div class="field">$$input:BILLING_ADDRESS_LINE2$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_ADDRESS_LINE2$$</h5>
                        <div class="field">$$input:SHIPPING_ADDRESS_LINE2$$
                        </div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_CITY$$</h5>
                        <div class="field">$$input:BILLING_CITY$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_CITY$$</h5>
                        <div class="field">$$input:SHIPPING_CITY$$</div>
                    </div>


                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_COUNTRY$$</h5>
                        <div class="field">$$input:BILLING_COUNTRY$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_COUNTRY$$</h5>
                        <div class="field">$$input:SHIPPING_COUNTRY$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_STATE$$</h5>
                        <div class="field">$$input:BILLING_STATE$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_STATE$$</h5>
                        <div class="field">$$input:SHIPPING_STATE$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_POST_CODE$$</h5>
                        <div class="field">$$input:BILLING_POST_CODE$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_POST_CODE$$</h5>
                        <div class="field">$$input:SHIPPING_POST_CODE$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BILLING_HELP_MSG$$</h5>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SHIPPING_HELP_MSG$$</h5>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:FINANCIAL_SETTINGS$$</span></a>
            </div>

            <div class="collapsible-body">
                <div class="single-column">
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:BASE_CURRENCY$$</h5>
                        <div class="field">$$input:BASE_CURRENCY$$</div>
                    </div>
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:OPERATING_CURRENCIES$$</h5>
                        <div class="field">$$input:OPERATING_CURRENCIES$$</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
