<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row mb-4">
            <div class="col">
                <div class="grid-row">
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:PERIOD$$</div>
                            <div class="form-group__content">$$input:PERIOD$$</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:dateYearP$$</div>
                            <div class="form-group__content">$$input:dateYearP$$</div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:note$$</div>
                            <div class="form-group__content">$$input:note$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice__products-table">
        $$input:ITEMS_TABLE$$
    </div>
    <div class="mb-4">
        <div class="grid-row has-totalTable flex-lg-nowrap flex-xl-nowrap file--sale-quote">
            <div class="col-3" style="padding-top: 20px">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:SHOW_ACCOUNTING$$</div>
                            <div class="form-group__content">$$input:SHOW_ACCOUNTING$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:AMOUNT$$</div>
                            <div class="form-group__content">$$input:AMOUNT$$</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6" style="padding-top: 30px">
                <div class="form-group">
                    <div class="form-group__content">$$input:_TITLE$$</div>
                </div>
            </div>
            <div class="col-auto offset-1">
                <div class="section-box">
                    $$input:totalTable$$
                </div>
            </div>
        </div>
    </div>

    <div class="section-box">
        <div class="group-box group-box--width-free group-box--align-right group-box--side-out" id="inv__action-btns">
            <div class="group-box__items">
            </div>
        </div>
    </div>
</div>
<!--</div>-->