<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:OPPORTUNITY_SETTINGS$$</span>
                </a>
            </div>

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:FILL_OPPORTUNITY_ITEMS$$</div>
                            <div class="form-group__content">$$input:FILL_OPPORTUNITY_ITEMS$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:JOIN_OPPORTUNITY_TO_EXPENSE_CLAIM$$</div>
                            <div class="form-group__content">$$input:JOIN_OPPORTUNITY_TO_EXPENSE_CLAIM$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:IMPORT_PREFERENCE$$</div>
                            <div class="form-group__content">$$input:IMPORT_PREFERENCE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:OVERWRITE_PREFERENCE$$</div>
                            <div class="form-group__content">$$input:OVERWRITE_PREFERENCE$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:REQUIRE_CONTRACT_UPLOAD$$</div>
                            <div class="form-group__content">$$input:REQUIRE_CONTRACT_UPLOAD$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EMAIL_AUTOLINKING$$</div>
                            <div class="form-group__content">$$input:EMAIL_AUTOLINKING$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:NUMBERING_SETTINGS$$</span>
                </a>
            </div>

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:OPPORTUNITY_NUMBERING$$</div>
                            <div class="form-group__content">$$input:OPPORTUNITY_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_ACCOUNT_NUMBER$$</div>
                            <div class="form-group__content">$$input:CRM_ACCOUNT_NUMBER$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:TRACKER_PREFIX$$</div>
                            <div class="form-group__content">$$input:TRACKER_PREFIX$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:SIPUNI_SETTINGS$$</span>
                </a>
            </div>

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">IF CONTACT IS UNKNOWN - CREATE</div>
                            <div class="form-group__content">$$input:CONTACT_TYPE$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">Convert To</div>
                            <div class="form-group__content">$$input:RELATIONSHIP$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
