<div class="contentBar" style="padding:0 10px;">
    <div class="slideDown-box expand group">
        <div class="grid-row">
            <!-- Column #1 -->
            <div class="col-12">
                <div class="form-group mb-0">
                    <div class="form-group__label">$$label:CURRENCY$$</div>
                    <div class="form-group__content">
                        $$input:CURRENCY$$
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__content">
                        $$input:xePanel$$
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group__content">
                        $$input:exPanel$$
                    </div>
                </div>
                <div class="form-group mb-0">
                    <div class="form-group__content">
                        $$input:mPanel$$
                    </div>
                </div>
                <div class="form-group mb-0">
                    <div class="form-group__content">
                        $$input:bottomPanel$$
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>