<div class="contentBar">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <!--<div class="collapsible-header active"-->
            <!--onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">-->
            <!--<a style="cursor: pointer;"><span>$$label:DETAILS$$</span></a>-->
            <!--</div>-->
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:SCHOOL_NAME$$</div>
                            <div class="form-group__content">$$input:SCHOOL_NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DEGREE$$</div>
                            <div class="form-group__content">$$input:DEGREE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FIELD_OF_STUDY$$</div>
                            <div class="form-group__content">$$input:FIELD_OF_STUDY$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group__label">$$label:START_DATE$$</div>
                                    <div class="form-group__content">$$input:START_DATE$$</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group__label">$$label:DUE_DATE$$</div>
                                    <div class="form-group__content">$$input:DUE_DATE$$</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:COUNTRY$$</div>
                            <div class="form-group__content">$$input:COUNTRY$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__content">$$input:ACTIVITIES$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__content">$$input:COMMENTS$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>