<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:DETAILS$$</span></a>
            </div>

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SUBJECT$$</div>
                            <div class="form-group__content">$$input:SUBJECT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FROM_USER$$</div>
                            <div class="form-group__content">$$input:FROM_USER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:REPLY_TO$$</div>
                            <div class="form-group__content">$$input:REPLY_TO$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ONLY_MINE$$</div>
                            <div class="form-group__content">$$input:ONLY_MINE$$</div>
                        </div>
                        $$input:PDF_VERSION$$
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:MODULE$$</div>
                            <div class="form-group__content">$$input:MODULE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CATEGORY$$</div>
                            <div class="form-group__content">$$input:CATEGORY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:LANGUAGE$$</div>
                            <div class="form-group__content">$$input:LANGUAGE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FROM_NAME$$</div>
                            <div class="form-group__content">$$input:FROM_NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:IS_DEFAULT$$</div>
                            <div class="form-group__content">$$input:IS_DEFAULT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:PDF_TEMPLATE$$</div>
                            <div class="form-group__content">$$input:PDF_TEMPLATE$$</div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group__label">$$label:MESSAGE_CONTENT$$</div>
                    <div class="form-group__content">$$input:MESSAGE_CONTENT$$</div>
                </div>
                <div class="form-group">
                    <div class="form-group__label">$$label:TEST_EMAIL$$</div>
                    <div class="form-group__content">$$input:EMAIL$$</div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:ATTACHMENTS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__content">$$input:ATTACHMENTS$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
