<div class="content-box content-box--white compose">
    <div class="width-limiter">
        <div class="form-row">
            <div class="col-3">
                $$input:FROM$$
            </div>
            <div class="col-9">
                $$input:TO$$
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                $$input:CC$$
            </div>
        </div>

        <div class="form-row">
            <div class="col-12">
                $$input:BCC$$
            </div>
        </div>

        <div class="grid-row no-gutters compose__subject">
            <div class="col">
                $$input:SUBJECT$$
            </div>
            <div class="col-auto">
                $$input:TEMPLATE$$
            </div>
        </div>

        <div class="form-group code row">
            $$input:EDITOR$$
        </div>
    </div>
</div>
