<ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required" data-collapsible="expandable">
    <li class="slideDown-box group active">
        <div class="collapsible-header active" onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
            <a style="cursor: pointer;"><span>$$label:EMPLOYER_PAYROLL_SETTINGS$$</span></a>
        </div>
        <div class="collapsible-body">
            <div class="grid-row">
                <div class="col-6">
                    <div class="form-group">
                        <div class="form-group__label">$$label:OFFICE_NAME$$</div>
                        <div class="form-group__content">$$input:OFFICE_NAME$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:OFFICE_NUMBER$$</div>
                        <div class="form-group__content">$$input:OFFICE_NUMBER$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:OFFICE_REFERENCE$$</div>
                        <div class="form-group__content">$$input:OFFICE_REFERENCE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:COMPANY_CODE$$</div>
                        <div class="form-group__content">$$input:COMPANY_CODE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:WPS_NUMBER$$</div>
                        <div class="form-group__content">$$input:WPS_NUMBER$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:COMPANY_COUNTRY$$</div>
                        <div class="form-group__content">$$input:COMPANY_COUNTRY$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:ADDRESS1$$</div>
                        <div class="form-group__content">$$input:ADDRESS1$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:ADDRESS2$$</div>
                        <div class="form-group__content">$$input:ADDRESS2$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:CR_NUMBER$$</div>
                        <div class="form-group__content">$$input:CR_NUMBER$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:BANK_ACCOUNT$$</div>
                        <div class="form-group__content">$$input:BANK_ACCOUNT$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:EXPENSE_ACCOUNT$$</div>
                        <div class="form-group__content">$$input:EXPENSE_ACCOUNT$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:DEFAULT_START_DATE$$</div>
                        <div class="form-group__content">$$input:DEFAULT_START_DATE$$</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <div class="form-group__label">$$label:GOSI_NUMBER$$</div>
                        <div class="form-group__content">$$input:GOSI_NUMBER$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:LICENSE_NUMBER$$</div>
                        <div class="form-group__content">$$input:LICENSE_NUMBER$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:PHONE_NUMBER$$</div>
                        <div class="form-group__content">$$input:PHONE_NUMBER$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:GOSI_DATE$$</div>
                        <div class="form-group__content">$$input:GOSI_DATE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:CR_DATE$$</div>
                        <div class="form-group__content">$$input:CR_DATE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:LICENSE_DATE$$</div>
                        <div class="form-group__content">$$input:LICENSE_DATE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:DAILY_RATE_CALCULATION$$</div>
                        <div class="form-group__content">$$input:DAILY_RATE_CALCULATION$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:NUMBER_OF_WORK_DAYS$$</div>
                        <div class="form-group__content">$$input:NUMBER_OF_WORK_DAYS$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:OVERTIME_CALCULATION$$</div>
                        <div class="form-group__content">$$input:OVERTIME_CALCULATION$$</div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:SHOW_YEAR_TO_DATE$$
                        </div>
                        <div class="col-2">
                            $$input:SHOW_YEAR_TO_DATE$$
                        </div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:BY_DEFAULT_EMAIL_NOTIFICATION$$
                        </div>
                        <div class="col-2">
                            $$input:BY_DEFAULT_EMAIL_NOTIFICATION$$
                        </div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:PAYROLL_MULTI_CURRENCY$$
                        </div>
                        <div class="col-2">
                            $$input:PAYROLL_MULTI_CURRENCY$$
                        </div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:DOUBLE_CONFIRMATION$$
                        </div>
                        <div class="col-2">
                            $$input:DOUBLE_CONFIRMATION$$
                        </div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:DISABLE_PAYROLL_TRANSACTIONS$$
                        </div>
                        <div class="col-2">
                            $$input:DISABLE_PAYROLL_TRANSACTIONS$$
                        </div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:LEAVE_DAYS_IMPACT$$
                        </div>
                        <div class="col-2">
                            $$input:LEAVE_DAYS_IMPACT$$
                        </div>
                    </div>
                    <div class="grid-row margin-top">
                        <div class="col-6">
                            $$label:NON_PAID_LEAVE_DAYS_IMPACT$$
                        </div>
                        <div class="col-2">
                            $$input:NON_PAID_LEAVE_DAYS_IMPACT$$
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="slideDown-box group">
        <div class="collapsible-header" onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
            <a style="cursor: pointer;"><span>$$label:PAYRUN_SETTINGS$$</span></a>
        </div>
        <div class="collapsible-body">
            <div class="grid-row">
                <div class="col-12">
                    <div class="form-group">
                        <div class="form-group__label"></div>
                        <div class="form-group__content">$$input:PAYMENT_POLICY$$</div>
                    </div>
                </div>
            </div>
            <div class="grid-row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label"></div>
                        <div class="form-group__content">$$input:LEAVE_PAYMENTS$$</div>
                    </div>
                    $$input:TIMESHEET_HOURS_CALCULATION_SETTINGS$$
                    $$input:LEAVE_PAYMENTS_DAILY_SETTINGS$$
                    $$input:LEAVE_PAYMENTS_MONEY_SETTINGS$$
                    $$input:LEAVE_PAYMENTS_MONEY_TYPE$$
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label"></div>
                        <div class="form-group__content">$$input:LEAVE_DEDUCTIONS$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label"></div>
                        <div class="form-group__content">$$input:LEAVE_SETTINGS$$</div>
                    </div>

                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label"></div>
                        <div class="form-group__content">$$input:DEFAULT_ADDITIONAL_TYPE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label"></div>
                        <div class="form-group__content">$$input:DEFAULT_ADDITIONAL_TYPE_SETTINGS$$</div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>