<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:reporttitle$$
                    </div>
                    <div class="col-4">
                        $$input:paymentdate$$
                    </div>
                    <div class="col-4">
                        $$input:number$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:name$$
                    </div>
                    <div class="col-4">
                        $$input:exrate$$
                    </div>
                    <div class="col-4">
                        $$input:amount$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:reference$$
                    </div>
                    <div class="col-4">
                        $$input:customer$$
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto offset-1">
        $$input:totalstable$$
    </div>
</div>
