<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:supplier$$
                            $$input:employee$$
                        </div>

                        <div class="col-4">
                            $$input:date$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:number$$
                                </div>

                                <div class="col-6">
                                    $$input:customer$$
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="col-4">
                            $$input:exptitle$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:exrate$$
                                </div>

                                <div class="col-6">
                                    $$input:taxcalc$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:manager$$
                                </div>

                                <div class="col-6">
                                    $$input:showmore$$
                                </div>
                            </div>
                        </div>
                    </div>
                    $$input:taxtreatment$$
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="invoice__products-table">
            $$input:itemtable$$
        </div>
    </div>


    <div class="mb-4">
        <div class="grid-row file--ExpenseReportAddEditView">
            <div class="col">
                $$input:paymentpanel$$
            </div>
            <div class="col-auto offset-1">
                $$input:totalstable$$
            </div>
        </div>
    </div>
</div>


<!--<div class="invoice-block">-->

<!--<div id="inv_form_header"-->
<!--class="invoice__options-section section-box section-box&#45;&#45;collapsable section-box&#45;&#45;collapse box-bg&#45;&#45;1">-->
<!--<div class="section-box__content">-->
<!--<div class="invoice__main-options">-->
<!--<div class="group-box group-box&#45;&#45;united">-->
<!--<div class="group-box__items">-->
<!--&lt;!&ndash;$$input:employee$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:date$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:exptitle$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:number$$&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div id="inv_moreoptions" class="invoice__more-options section-box__collapsable-content">-->
<!--<div class="group-box">-->
<!--<div class="group-box__items">-->
<!--$$input:supplier$$-->
<!--$$input:project$$-->
<!--$$input:opportunity$$-->
<!--$$input:fixedasset$$-->
<!--$$input:ponumber$$-->
<!--$$input:pdftemplate$$-->
<!--</div>-->
<!--</div>-->
<!--$$input:customfields$$-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box__footer">-->
<!--$$input:showmore$$-->
<!--</div>-->
<!--</div>-->

<!--<div class="grid-row group-box margin-bottom">-->
<!--<div class="col-2 offset-5">$$input:exrate$$</div>-->
<!--<div class="col-2">$$input:taxcalc$$</div>-->
<!--<div class="col-3">$$input:manager$$</div>-->
<!--</div>-->

<!--<div class="group-box margin-bottom">-->
<!--<div class="item-table__container">-->
<!--$$input:itemtable$$-->
<!--</div>-->
<!--</div>-->

<!--$$input:paymentpanel$$-->

<!--<div class="section-group box-bg&#45;&#45;2 invoice__footer">-->
<!--<div class="section-box invoice__post-fields">-->
<!--<div class="group-box">-->
<!--<div id="inv_payment_rate" class="group-box invoice__payment-extrapanel">-->
<!--<div class="group-box__items">-->
<!--$$input:paymentexratepanel$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box invoice__receipt-block">-->
<!--<div class="invoice__subtotal">-->
<!--$$input:totalstable$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--<div class="section-box">-->
<!--<div id="inv__action-btns" class="group-box group-box&#45;&#45;width-free group-box&#45;&#45;align-right group-box&#45;&#45;side-out">-->
<!--<div class="group-box__items">-->
<!--<div class="group-box__item">-->
<!--$$input:saveButton$$-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--$$input:pdfVersionButton$$-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--$$input:saveAndApproveButton$$-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--$$input:submitToManagerButton$$-->
<!--</div>-->

<!--<div class="group-box__item">-->
<!--$$input:rejectButton$$-->
<!--</div>-->
<!--<div class="group-box__item">-->
<!--$$input:approveAndSendButton$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->