<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-5">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:SETTINGS_TYPE$$
                                </div>
                                <div class="col-6">
                                    $$input:PAYROLL_BATCH$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-12">
                                    $$input:PERIOD$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:PAYMENT_METHOD$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:search$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:FREQUENCY$$
                                </div>
                                <div class="col-6">
                                    $$input:PROCESS_DATE$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:APPROVER$$
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="grid-row">
            <div class="col-12">
                <div class="item-table__container">
                    $$input:EMPLOYEE_PAYSLIP_TABLE$$
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="grid-row file--group_payrun">
            <div class="col"></div>
            <div class="col-auto offset-1">
                $$input:TOTAL_PANEL$$
            </div>
        </div>
    </div>
</div>
