<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <!--<div class="collapsible-header active"-->
            <!--onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">-->
            <!--<a style="cursor: pointer;"><span>$$label:DETAILS$$</span></a>-->
            <!--</div>-->
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DESCRIPTION$$</div>
                            <div class="form-group__content">$$input:DESCRIPTION$$</div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:START_DATE$$</div>
                            <div class="form-group__content">$$input:START_DATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:END_DATE$$</div>
                            <div class="form-group__content">$$input:END_DATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:LOCATION$$</div>
                            <div class="form-group__content">$$input:LOCATION$$</div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DAY_OFF$$</div>
                            <div class="form-group__content">$$input:DAY_OFF$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ANNUAL_ALLOWANCE$$</div>
                            <div class="form-group__content">$$input:ANNUAL_ALLOWANCE$$</div>
                        </div>

                        <div class="form-group">
                            <div class="form-group__label">$$label:RECCURING$$</div>
                            <div class="form-group__content">$$input:RECCURING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__content">$$input:MONTHLY_YEARLY$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group hideCustomField">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:HOLIDAY_HISTORY_LOG$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__content">$$input:HOLIDAY_HISTORY_LOG$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>