<div class="contentBar" style="padding: 0 20px">
    <div class="grid-row">
        <div class="col-12">
            <div class="form-group__content">$$input:INTRODUCTION_TITLE$$</div>
        </div>
    </div>

    <div class="frame__info fixed-content">
        <div class="frame__info__informers"></div>
        <div class="frame__info__actions">
            <button class="btn btn--default">
                <span>$$input:CUSTOMIZE_OK_BUTTON$$</span>
            </button>
<!--            <button class="btn btn&#45;&#45;primary">-->
<!--                <span>$$input:CUSTOMIZE_CANCEL_BUTTON$$</span>-->
<!--            </button>-->
        </div>
    </div>
</div>