<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-4">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:CUSTOMER_SUPPLIER$$
                        </div>
                        <div class="col-4">
                            $$input:DATE_FIELD$$
                        </div>
                        <div class="col-4">
                            $$input:PREPAYMENT_NUMBER$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:ACCOUNT_NAME$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:AMOUNT$$
                                </div>
                                <div class="col-6">
                                    $$input:CURRENCY$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:ACCOUNTS_RECEIVABLE_PAYABLE$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:REFERENCE$$
                        </div>
                        <div class="col-4">
                            $$input:DEPARTMENT$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:PROJECT$$
                                </div>
                                <div class="col-6">
                                    $$input:salequote$$
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4">
            <div class="grid-row">
                $$input:PAYMENT_TABLE$$
            </div>
        </div>
        <div class="mb-4">
            <div class="grid-row file--invoice_payment">
                <div class="col">
                    $$input:instruction$$
                </div>
                <div class="col-auto offset-1">
                    $$input:TOTAL_TABLE_PANEL$$
                </div>
            </div>
        </div>
    </div>
</div>