<div class="contentBar" style="padding:0 10px;margin-top:2px;">
    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required" data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:INFORMATION$$</span></a>
            </div>

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:CONTENT$$</div>
                            <div class="form-group__content">$$input:CONTENT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FIELDS$$</div>
                            <div class="form-group__content">$$input:FIELDS$$</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:TYPE$$</div>
                            <div class="form-group__content">$$input:TYPE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CS_PDF_FONT_TYPE$$</div>
                            <div class="form-group__content">$$input:CS_PDF_FONT_TYPE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SHORT_NUMBER_FORMAT$$</div>
                            <div class="form-group__content">$$input:SHORT_NUMBER_FORMAT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EXTENDED_NUMBER_FORMAT$$</div>
                            <div class="form-group__content">$$input:EXTENDED_NUMBER_FORMAT$$</div>
                        </div>
                        <div class="grid-row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group__label">$$label:IS_DEFAULT$$</div>
                                    <div class="form-group__content">$$input:IS_DEFAULT$$</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group__label">$$label:IS_BROWSER$$</div>
                                    <div class="form-group__content">$$input:IS_BROWSER$$</div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-row">
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group__label">$$label:SECTION$$</div>
                                    <div class="form-group__content">$$input:SECTION$$</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <div class="form-group__label">$$label:CUSTOM_FORM_ITEM$$</div>
                                    <div class="form-group__content">$$input:CUSTOM_FORM_ITEM$$</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>