<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:DETAILS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:OPENING_BALANCE_DATE$$</div>
                            <div class="form-group__content">$$input:OPENING_BALANCE_DATE$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:SHORT_NAME$$</div>
                            <div class="form-group__content">$$input:SHORT_NAME$$</div>
                        </div>
                        <div class="form-group">
<!--                            <div class="form-group__label">$$label:DESCRIPTION$$</div>-->
                            <div class="form-group__content">$$input:DESCRIPTION$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:COLOR_PICKER$$</div>
                            <div class="form-group__content">$$input:COLOR_PICKER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EXCEPTIONAL_WORKINGDAY_TIMESLOT$$</div>
                            <div class="form-group__content">$$input:EXCEPTIONAL_WORKINGDAY_TIMESLOT$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:LEAVE_UNIT$$</div>
                            <div class="form-group__content">$$input:LEAVE_UNIT$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:STATUS$$</div>
                            <div class="form-group__content">$$input:STATUS$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:DAYOFF$$</div>
                            <div class="form-group__content">$$input:DAYOFF$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:TYPE_OPTION$$</div>
                            <div class="form-group__content">$$input:TYPE_OPTION$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:ATTENDANCE_LR$$</div>
                            <div class="form-group__content">$$input:ATTENDANCE_LR$$</div>
                        </div>
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:INTEGRATION_CODE$$</div>
                            <div class="form-group__content">$$input:INTEGRATION_CODE$$</div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:REFERENCE_ITEMS$$</div>
                            <div class="form-group__content">$$input:REFERENCE_ITEMS$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:REASON_APPLICABLE_FOR$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DEPARTMENT$$</div>
                            <div class="form-group__content">$$input:DEPARTMENT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:POSITION$$</div>
                            <div class="form-group__content">$$input:POSITION$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:GENDER$$</div>
                            <div class="form-group__content">$$input:GENDER$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:ROLE$$</div>
                            <div class="form-group__content">$$input:ROLE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EMPLOYEES$$</div>
                            <div class="form-group__content">$$input:EMPLOYEES$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:LOCATION$$</div>
                            <div class="form-group__content">$$input:LOCATION$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:LEAVE_ENTITLEMENT$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-3">
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:LEAVE_ALLOUNCE_PANEL$$</div>
                            <div class="form-group__content">$$input:LEAVE_ALLOUNCE_PANEL$$</div>
                        </div>

                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DURATION$$</div>
                            <div class="form-group__content">$$input:DURATION$$</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:MIN_LEAVE_DAYS$$</div>
                            <div class="form-group__content">$$input:MIN_LEAVE_DAYS$$</div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DATE_FIELD$$</div>
                            <div class="form-group__content">$$input:DATE_FIELD$$</div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-3">
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:REDIRECT_URL$$</div>
                            <div class="form-group__content">$$input:REDIRECT_URL$$</div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group hideCustomField">
                            <div class="form-group__label">$$label:LEAVE_REASON_LOCATION_DAYS_PANEL$$</div>
                            <div class="form-group__content">$$input:LEAVE_REASON_LOCATION_DAYS_PANEL$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>