<div class="contentBar" style="padding:0 10px; margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:GENERAL_DETAILS$$</span></a>
            </div>

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EMAIL$$</div>
                            <div class="form-group__content">$$input:EMAIL$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ZIP_CODE$$</div>
                            <div class="form-group__content">$$input:ZIP_CODE$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:CITY$$</div>
                            <div class="form-group__content">$$input:CITY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:STATE$$</div>
                            <div class="form-group__content">$$input:STATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:COUNTRY$$</div>
                            <div class="form-group__content">$$input:COUNTRY$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:PHONE$$</div>
                            <div class="form-group__content">$$input:PHONE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FAX$$</div>
                            <div class="form-group__content">$$input:FAX$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:EMPLOYEE_LOCATION$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__content">$$input:EMPLOYEES$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>