<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-3">
                            $$input:introduction$$
                        </div>
                        <div class="col-3">
                            $$input:date$$
                        </div>
                        <div class="col-3">
                            $$input:number$$
                        </div>
                        <div class="col-3">
                            $$input:project$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-3">
                            $$input:reference$$
                        </div>
                        <div class="col-3">
                            $$input:exrate$$
                        </div>
                        <div class="col-3">
                            <div class="grid-row">
                                <div class="col">
                                    $$input:memorizedtransactionlist$$
                                </div>
                                <div class="col-auto">
                                    $$input:enablerecurring$$
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-row">
                        $$input:manager$$
                        $$input:role$$
                    </div>

                    <div class="mb-4 grid-row recurringWidget__wrapper">
                        $$input:recurringview$$
                    </div>

                    <div class="mb-4">
                        <div class="invoice__products-table">
                            $$input:itemtable$$
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="grid-row">
                            <div class="col">
                                $$input:instruction$$
                            </div>
                            <div class="col-auto">
                                <div class="section-box">
                                    $$input:totalstable$$
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
