<div class="contentBar" style="padding:0 10px;margin-top:2px;">
    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <!--<div class="collapsible-header active" onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>-->
            <!--=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">-->
            <!--<a style="cursor: pointer;">-->
            <!--<span>-->
            <!--$$label:ONBOARDING_PERIOD_TITLE$$-->
            <!--</span>-->
            <!--</a>-->
            <!--</div>-->
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">
                                $$label:ONBOARDING_PERIOD_NAME$$
                            </div>
                            <div class="form-group__content">
                                $$input:ONBOARDING_PERIOD_NAME$$
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">
                                $$label:ONBOARDING_PERIOD_DESCRIPTION$$
                            </div>
                            <div class="form-group__content">
                                $$input:ONBOARDING_PERIOD_DESCRIPTION$$
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">
                                $$label:ONBOARDING_PERIOD_DURATION$$
                            </div>
                            <div class="form-group__content">
                                $$input:ONBOARDING_PERIOD_DURATION$$
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">
                                $$label:ONBOARDING_PERIOD_ACTIVE$$
                            </div>
                            <div class="form-group__content">
                                $$input:ONBOARDING_PERIOD_ACTIVE$$
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">
                                $$label:ONBOARDING_PERIOD_PHASE_STARTS$$
                            </div>
                            <div class="form-group__content">
                                $$input:ONBOARDING_PERIOD_PHASE_STARTS$$
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>