<div class="contentBar">


    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:OPPORTUNITY_INFORMATION$$</span>
                </a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:MY_CSV_FILE_HAS_HEADERS$$</div>
                            <div class="form-group__content">$$input:MY_CSV_FILE_HAS_HEADERS$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DUPLICATE$$</div>
                            <div class="form-group__content">$$input:DUPLICATE$$</div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:ASSIGNEE$$</div>
                            <div class="form-group__content">$$input:ASSIGNEE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_ACCOUNT_NAME$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_ACCOUNT_NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_CONTACT_NAME$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_CONTACT_NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TYPE$$</div>
                            <div class="form-group__content">$$input:TYPE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_NOTE$$</div>
                            <div class="form-group__content">$$input:CRM_NOTE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_CAMPAIGN_SOURCE$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_CAMPAIGN_SOURCE$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_CLOSING_DATE$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_CLOSING_DATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_LEAD_SOURCE$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_LEAD_SOURCE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_AMOUNT$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_AMOUNT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_STAGE$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_STAGE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_PROBABILITY$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_PROBABILITY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CRM_OPPORTUNITY_EXPECTED_REVENUE$$</div>
                            <div class="form-group__content">$$input:CRM_OPPORTUNITY_EXPECTED_REVENUE$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group hideCustomField">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:ADDITIONAL_INFORMATION$$</span>
                </a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <!-- string_value fields -->
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value1$$</div>
                            <div class="form-group__content">$$input:string_value1$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value2$$</div>
                            <div class="form-group__content">$$input:string_value2$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value3$$</div>
                            <div class="form-group__content">$$input:string_value3$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value4$$</div>
                            <div class="form-group__content">$$input:string_value4$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value5$$</div>
                            <div class="form-group__content">$$input:string_value5$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value6$$</div>
                            <div class="form-group__content">$$input:string_value6$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value7$$</div>
                            <div class="form-group__content">$$input:string_value7$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value8$$</div>
                            <div class="form-group__content">$$input:string_value8$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value9$$</div>
                            <div class="form-group__content">$$input:string_value9$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value10$$</div>
                            <div class="form-group__content">$$input:string_value10$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value11$$</div>
                            <div class="form-group__content">$$input:string_value11$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value12$$</div>
                            <div class="form-group__content">$$input:string_value12$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value13$$</div>
                            <div class="form-group__content">$$input:string_value13$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value14$$</div>
                            <div class="form-group__content">$$input:string_value14$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value15$$</div>
                            <div class="form-group__content">$$input:string_value15$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value16$$</div>
                            <div class="form-group__content">$$input:string_value16$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value17$$</div>
                            <div class="form-group__content">$$input:string_value17$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value18$$</div>
                            <div class="form-group__content">$$input:string_value18$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value19$$</div>
                            <div class="form-group__content">$$input:string_value19$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value20$$</div>
                            <div class="form-group__content">$$input:string_value20$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value21$$</div>
                            <div class="form-group__content">$$input:string_value21$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value22$$</div>
                            <div class="form-group__content">$$input:string_value22$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value23$$</div>
                            <div class="form-group__content">$$input:string_value23$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value24$$</div>
                            <div class="form-group__content">$$input:string_value24$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value25$$</div>
                            <div class="form-group__content">$$input:string_value25$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value26$$</div>
                            <div class="form-group__content">$$input:string_value26$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value27$$</div>
                            <div class="form-group__content">$$input:string_value27$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value28$$</div>
                            <div class="form-group__content">$$input:string_value28$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value29$$</div>
                            <div class="form-group__content">$$input:string_value29$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value30$$</div>
                            <div class="form-group__content">$$input:string_value30$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value31$$</div>
                            <div class="form-group__content">$$input:string_value31$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value32$$</div>
                            <div class="form-group__content">$$input:string_value32$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value33$$</div>
                            <div class="form-group__content">$$input:string_value33$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value34$$</div>
                            <div class="form-group__content">$$input:string_value34$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value35$$</div>
                            <div class="form-group__content">$$input:string_value35$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value36$$</div>
                            <div class="form-group__content">$$input:string_value36$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value37$$</div>
                            <div class="form-group__content">$$input:string_value37$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value38$$</div>
                            <div class="form-group__content">$$input:string_value38$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value39$$</div>
                            <div class="form-group__content">$$input:string_value39$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value40$$</div>
                            <div class="form-group__content">$$input:string_value40$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value41$$</div>
                            <div class="form-group__content">$$input:string_value41$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value42$$</div>
                            <div class="form-group__content">$$input:string_value42$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value43$$</div>
                            <div class="form-group__content">$$input:string_value43$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value44$$</div>
                            <div class="form-group__content">$$input:string_value44$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value45$$</div>
                            <div class="form-group__content">$$input:string_value45$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value46$$</div>
                            <div class="form-group__content">$$input:string_value46$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value47$$</div>
                            <div class="form-group__content">$$input:string_value47$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value48$$</div>
                            <div class="form-group__content">$$input:string_value48$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value49$$</div>
                            <div class="form-group__content">$$input:string_value49$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:string_value50$$</div>
                            <div class="form-group__content">$$input:string_value50$$</div>
                        </div>
                    </div>

                    <!-- double_value fields -->
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value1$$</div>
                            <div class="form-group__content">$$input:double_value1$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value2$$</div>
                            <div class="form-group__content">$$input:double_value2$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value3$$</div>
                            <div class="form-group__content">$$input:double_value3$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value4$$</div>
                            <div class="form-group__content">$$input:double_value4$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value5$$</div>
                            <div class="form-group__content">$$input:double_value5$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value6$$</div>
                            <div class="form-group__content">$$input:double_value6$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value7$$</div>
                            <div class="form-group__content">$$input:double_value7$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value8$$</div>
                            <div class="form-group__content">$$input:double_value8$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value9$$</div>
                            <div class="form-group__content">$$input:double_value9$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value10$$</div>
                            <div class="form-group__content">$$input:double_value10$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value11$$</div>
                            <div class="form-group__content">$$input:double_value11$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value12$$</div>
                            <div class="form-group__content">$$input:double_value12$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value13$$</div>
                            <div class="form-group__content">$$input:double_value13$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value14$$</div>
                            <div class="form-group__content">$$input:double_value14$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value15$$</div>
                            <div class="form-group__content">$$input:double_value15$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value16$$</div>
                            <div class="form-group__content">$$input:double_value16$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value17$$</div>
                            <div class="form-group__content">$$input:double_value17$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value18$$</div>
                            <div class="form-group__content">$$input:double_value18$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value19$$</div>
                            <div class="form-group__content">$$input:double_value19$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value20$$</div>
                            <div class="form-group__content">$$input:double_value20$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value21$$</div>
                            <div class="form-group__content">$$input:double_value21$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value22$$</div>
                            <div class="form-group__content">$$input:double_value22$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value23$$</div>
                            <div class="form-group__content">$$input:double_value23$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value24$$</div>
                            <div class="form-group__content">$$input:double_value24$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value25$$</div>
                            <div class="form-group__content">$$input:double_value25$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value26$$</div>
                            <div class="form-group__content">$$input:double_value26$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value27$$</div>
                            <div class="form-group__content">$$input:double_value27$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value28$$</div>
                            <div class="form-group__content">$$input:double_value28$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value29$$</div>
                            <div class="form-group__content">$$input:double_value29$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value30$$</div>
                            <div class="form-group__content">$$input:double_value30$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value31$$</div>
                            <div class="form-group__content">$$input:double_value31$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value32$$</div>
                            <div class="form-group__content">$$input:double_value32$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value33$$</div>
                            <div class="form-group__content">$$input:double_value33$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value34$$</div>
                            <div class="form-group__content">$$input:double_value34$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value35$$</div>
                            <div class="form-group__content">$$input:double_value35$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value36$$</div>
                            <div class="form-group__content">$$input:double_value36$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value37$$</div>
                            <div class="form-group__content">$$input:double_value37$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value38$$</div>
                            <div class="form-group__content">$$input:double_value38$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value39$$</div>
                            <div class="form-group__content">$$input:double_value39$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value40$$</div>
                            <div class="form-group__content">$$input:double_value40$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value41$$</div>
                            <div class="form-group__content">$$input:double_value41$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value42$$</div>
                            <div class="form-group__content">$$input:double_value42$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value43$$</div>
                            <div class="form-group__content">$$input:double_value43$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value44$$</div>
                            <div class="form-group__content">$$input:double_value44$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value45$$</div>
                            <div class="form-group__content">$$input:double_value45$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value46$$</div>
                            <div class="form-group__content">$$input:double_value46$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value47$$</div>
                            <div class="form-group__content">$$input:double_value47$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value48$$</div>
                            <div class="form-group__content">$$input:double_value48$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value49$$</div>
                            <div class="form-group__content">$$input:double_value49$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:double_value50$$</div>
                            <div class="form-group__content">$$input:double_value50$$</div>
                        </div>
                    </div>

                    <!-- date_value fields -->
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value1$$</div>
                            <div class="form-group__content">$$input:date_value1$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value2$$</div>
                            <div class="form-group__content">$$input:date_value2$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value3$$</div>
                            <div class="form-group__content">$$input:date_value3$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value4$$</div>
                            <div class="form-group__content">$$input:date_value4$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value5$$</div>
                            <div class="form-group__content">$$input:date_value5$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value6$$</div>
                            <div class="form-group__content">$$input:date_value6$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value7$$</div>
                            <div class="form-group__content">$$input:date_value7$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value8$$</div>
                            <div class="form-group__content">$$input:date_value8$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value9$$</div>
                            <div class="form-group__content">$$input:date_value9$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value10$$</div>
                            <div class="form-group__content">$$input:date_value10$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value11$$</div>
                            <div class="form-group__content">$$input:date_value11$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value12$$</div>
                            <div class="form-group__content">$$input:date_value12$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value13$$</div>
                            <div class="form-group__content">$$input:date_value13$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value14$$</div>
                            <div class="form-group__content">$$input:date_value14$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value15$$</div>
                            <div class="form-group__content">$$input:date_value15$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value16$$</div>
                            <div class="form-group__content">$$input:date_value16$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value17$$</div>
                            <div class="form-group__content">$$input:date_value17$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value18$$</div>
                            <div class="form-group__content">$$input:date_value18$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value19$$</div>
                            <div class="form-group__content">$$input:date_value19$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value20$$</div>
                            <div class="form-group__content">$$input:date_value20$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value21$$</div>
                            <div class="form-group__content">$$input:date_value21$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value22$$</div>
                            <div class="form-group__content">$$input:date_value22$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value23$$</div>
                            <div class="form-group__content">$$input:date_value23$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value24$$</div>
                            <div class="form-group__content">$$input:date_value24$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value25$$</div>
                            <div class="form-group__content">$$input:date_value25$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value26$$</div>
                            <div class="form-group__content">$$input:date_value26$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value27$$</div>
                            <div class="form-group__content">$$input:date_value27$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value28$$</div>
                            <div class="form-group__content">$$input:date_value28$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value29$$</div>
                            <div class="form-group__content">$$input:date_value29$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value30$$</div>
                            <div class="form-group__content">$$input:date_value30$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value31$$</div>
                            <div class="form-group__content">$$input:date_value31$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value32$$</div>
                            <div class="form-group__content">$$input:date_value32$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value33$$</div>
                            <div class="form-group__content">$$input:date_value33$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value34$$</div>
                            <div class="form-group__content">$$input:date_value34$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value35$$</div>
                            <div class="form-group__content">$$input:date_value35$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value36$$</div>
                            <div class="form-group__content">$$input:date_value36$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value37$$</div>
                            <div class="form-group__content">$$input:date_value37$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value38$$</div>
                            <div class="form-group__content">$$input:date_value38$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value39$$</div>
                            <div class="form-group__content">$$input:date_value39$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value40$$</div>
                            <div class="form-group__content">$$input:date_value40$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value41$$</div>
                            <div class="form-group__content">$$input:date_value41$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value42$$</div>
                            <div class="form-group__content">$$input:date_value42$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value43$$</div>
                            <div class="form-group__content">$$input:date_value43$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value44$$</div>
                            <div class="form-group__content">$$input:date_value44$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value45$$</div>
                            <div class="form-group__content">$$input:date_value45$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value46$$</div>
                            <div class="form-group__content">$$input:date_value46$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value47$$</div>
                            <div class="form-group__content">$$input:date_value47$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value48$$</div>
                            <div class="form-group__content">$$input:date_value48$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value49$$</div>
                            <div class="form-group__content">$$input:date_value49$$</div>
                        </div>
                    </div>
                    <div class="col-4 hideCustomField">
                        <div class="form-group">
                            <div class="form-group__label">$$label:date_value50$$</div>
                            <div class="form-group__content">$$input:date_value50$$</div>
                        </div>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>