<div class="contentBar file--payroll_batch" style="padding:0 10px;">
    <style>
        .reachFullWidth table {
            border: none !important;
        }
    </style>

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required" data-collapsible="expandable">
        <li class="slideDown-box group active mb-5">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:DETAILS$$</span>
                </a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="col-10">
                            <div class="form-group">
                                <div class="form-group__label">$$label:NAME$$</div>
                                <div class="form-group__content">$$input:NAME$$</div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <div class="form-group__label">$$label:DESCRIPTION$$</div>
                                <div class="form-group__content">$$input:DESCRIPTION$$</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-9">
                            <div class="form-group">
                                <div class="form-group__label">$$label:SETTINGS_TYPE$$</div>
                                <div class="form-group__content">$$input:SETTINGS_TYPE$$</div>
                            </div>
                        </div>

                        <div class="col-10">
                            <div class="form-group">
                                <div class="form-group__label"></div>
                                <div class="form-group__content">$$input:CURRENCY$$</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="col-10">
                            <div class="form-group">
                                <div class="form-group__label">$$label:PROJECT$$</div>
                                <div class="form-group__content">$$input:PROJECT$$</div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <div class="form-group__label">$$label:CLIENT$$</div>
                                <div class="form-group__content">$$input:CLIENT$$</div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div class="form-group">
                                <div class="form-group__label">$$label:MANAGER$$</div>
                                <div class="form-group__content">$$input:MANAGER$$</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;">
                    <span>$$label:ASSIGNEE$$</span>
                </a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:ASSIGNEES$$</div>
                            <div class="form-group__content">$$input:ASSIGNEES$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>