<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-5">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:PAYMENT_DATE$$
                        </div>
                        <div class="col-4">
                            $$input:BANK_ACCOUNT$$
                        </div>
                        <div class="col-4">
                            $$input:PAID_TO_ACCOUNT$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:search$$
                        </div>
                        <div class="col-4">
                            $$input:DETAILS$$
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="grid-row">
            <div class="col-12">
                <div class="item-table__container">
                    $$input:PAYSLIP_TABLE$$
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4">
        <div class="grid-row file--group_payrun">
            <div class="col"></div>
            <div class="col-auto offset-1">
                $$input:TOTAL_PANEL$$
            </div>
        </div>
    </div>
</div>
