<ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
    data-collapsible="expandable">
    <li class="slideDown-box group active">
        <div class="collapsible-header active"
             onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
            <a style="cursor: pointer;"><span>$$label:PROVIDER_DETAILS$$</span></a>
        </div>
        <div class="collapsible-body">
            <div class="grid-row">
                <div class="col-6">
                    $$input:PROVIDER_NAME$$
                    $$input:OTHER_REF$$
                    $$input:PROVIDER_CITY$$
                    $$input:PROVIDER_COUNTRY$$
                    $$input:PROVIDER_FAX$$
                    $$input:PROVIDER_CONTACT_NAME$$
                </div>
                <div class="col-6">
                    $$input:PROVIDER_ACCOUNT_REF$$
                    $$input:PROVIDER_ADDRESS$$
                    $$input:PROVIDER_POST_CODE$$
                    $$input:PROVIDER_PHONE$$
                    $$input:PROVIDER_EMAIL$$
                    $$input:PROVIDER_CONTACT_MOBILE$$
                </div>
            </div>
        </div>
    </li>
    <li class="slideDown-box group active">
        <div class="collapsible-header active"
             onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
            <a style="cursor: pointer;"><span>$$label:PROVIDER_BANK_DETAILS$$</span></a>
        </div>
        <div class="collapsible-body">
            <div class="grid-row">
                <div class="col-6">
                    $$input:PROVIDER_BANK_NAME$$
                    $$input:PROVIDER_BANK_ADDRESS$$
                    $$input:PROVIDER_BANK_POST_CODE$$
                    $$input:PROVIDER_BANK_CONTACT_NAME$$
                    $$input:PROVIDER_BANK_FAX$$
                    $$input:PROVIDER_BANK_SORT_CODE$$
                    $$input:PROVIDER_BANK_NAME_SHOW$$
                </div>
                <div class="col-6">
                    $$input:PROVIDER_BANK_BRANCH_NAME$$
                    $$input:PROVIDER_BANK_CITY$$
                    $$input:PROVIDER_BANK_COUNTRY$$
                    $$input:PROVIDER_BANK_PHONE$$
                    $$input:PROVIDER_BANK_EMAIL$$
                    $$input:PROVIDER_BANK_ACCOUNT$$
                    $$input:PROVIDER_BANK_ACCOUNT_REF$$
                </div>
            </div>
        </div>
    </li>
</ul>