<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-4">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:customer$$
                        </div>

                        <div class="col-4">
                            <div class="grid-row">

                                <div class="col-6">
                                    $$input:duedate$$
                                </div>
                                <div class="col-3">
                                    $$input:picked$$
                                </div>
                                <div class="col-3">
                                    $$input:packed$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:gdnnumber$$
                        </div>
                    </div>

                    <div class="grid-row">

                        <div class="col-4">
                            $$input:account$$
                            <!--<div class="grid-row">-->
                            <!--<div class="col-8">-->
                            <!--$$input:account$$-->
                            <!--</div>-->

                            <!--<div class="col-4">-->
                            <!--$$input:currency$$-->
                            <!--</div>-->
                            <!--</div>-->

                        </div>

                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:expectdate$$
                                </div>

                                <div class="col-6">
                                    $$input:packdate$$
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            $$input:saleorder$$
                        </div>
                    </div>

                    <div class="grid-row">

                        <div class="col-4">
                            $$input:shippinglabel$$
                        </div>

                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:shippingdate$$

                                </div>
                                <div class="col-6">
                                    $$input:pickdate$$
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col">
                                    $$input:grossweight$$
                                </div>
<!--                                <div class="col-auto">-->
<!--                                    $$input:itemqty$$-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="mb-4">
        <!-- place table here -->
        $$input:itemtable$$
    </div>
</div>


<!--<div class="invoice-block">-->
<!--<div class="section-box">-->
<!--<div class="group-box group-box&#45;&#45;united">-->
<!--<div class="group-box__items">-->
<!--&lt;!&ndash;$$input:customer$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:saleorder$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:currency$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:duedate$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:discount$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:tax$$&ndash;&gt;-->
<!--</div>-->
<!--<div class="group-box__items">-->
<!--&lt;!&ndash;$$input:account$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:pickdate$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:packdate$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:shippingdate$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:expectdate$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:grossweight$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:itemqty$$&ndash;&gt;-->
<!--</div>-->
<!--<div class="group-box__items">-->
<!--&lt;!&ndash;$$input:gdnnumber$$&ndash;&gt;-->
<!--&lt;!&ndash;$$input:shippinglabel$$&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="section-box">-->
<!--&lt;!&ndash;$$input:filtertable$$&ndash;&gt;-->
<!--</div>-->
<!--<div class="section-box">-->
<!--$$input:itemtable$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
