<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:POSITION_DETAILS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:POSITION_TITLE$$</div>
                            <div class="form-group__content">$$input:POSITION_TITLE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DESCRIPTION$$</div>
                            <div class="form-group__content">$$input:DESCRIPTION$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:POSITION_CODE$$</div>
                            <div class="form-group__content">$$input:POSITION_CODE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:STATUS$$</div>
                            <div class="form-group__content">$$input:STATUS$$</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <div class="form-group__label">$$label:WAGE_RATE$$</div>
                            <div class="form-group__content">$$input:WAGE_RATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CLIENT_CHARGE_RATE$$</div>
                            <div class="form-group__content">$$input:CLIENT_CHARGE_RATE$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:POSITION_EMPLOYEES$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:EMPLOYEES$$</div>
                            <div class="form-group__content">$$input:EMPLOYEES$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group hideCustomField">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:LEAVE_ALLOUNCE_INFORMATION$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:LEAVE_ALLOUNCE_PANEL$$</div>
                            <div class="form-group__content">$$input:LEAVE_ALLOUNCE_PANEL$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:APPLY_ALLOUNCE_ALL_EMPLOYEE$$</div>
                            <div class="form-group__content">$$input:APPLY_ALLOUNCE_ALL_EMPLOYEE$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group hideCustomField">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls;} var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:BENEFIT_ALLOWANCE_INFORMATION$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:BENEFIT_ALLOWANCE_PANEL$$</div>
                            <div class="form-group__content">$$input:BENEFIT_ALLOWANCE_PANEL$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:APPLY_BENEFIT_ALL_EMPLOYEE$$</div>
                            <div class="form-group__content">$$input:APPLY_BENEFIT_ALL_EMPLOYEE$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>