<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-4">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:CRM_ACCOUNT_LOOKUP$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:DATE_FIELD$$
                                </div>
                                <div class="col-6">
                                    $$input:POST_DATE$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:PREPAYMENT_NUMBER$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:PAYMENT_ACCOUNT_LOOKUP$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:PREPAYMENT_AMOUNT$$
                                </div>
                                <div class="col-6">
                                    $$input:CURRENCY_TABLE$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:ACCOUNTS_RECEIVABLE_PAYABLE$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:REFERENCE$$
                        </div>
                        <div class="col-4">
                            $$input:DEPARTMENT$$
                        </div>
                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-4">
                                    $$input:PROJECT$$
                                </div>
                                <div class="col-4">
                                    $$input:SALE_QUOTE_OR_PURCHASE_ORDER_LOOKUP$$
                                </div>
                                <div class="col-4">
                                    $$input:SALE_INVOICE_LOOKUP$$
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="section-box">-->
<!--<div id="inv__action-btns" class="group-box group-box&#45;&#45;width-free group-box&#45;&#45;align-right group-box&#45;&#45;side-out">-->
<!--<div class="group-box__items">-->
<!--<div class="group-box__item invoice-btn-save">-->
<!--$$input:saveButton$$-->
<!--</div>-->
<!--<div class="group-box__item invoice-btn-default">-->
<!--$$input:cancelButton$$-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->