<div class="contentBar file--product_numbering_settings" style="padding:0 10px;">
    <style>
        .reachFullWidth table {
            border: none !important;
        }
    </style>

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required" data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-body no-border">
                <div class="grid-row">
                    <div class="col-10">
                        <div class="form-group">
                            <div class="form-group__label">$$label:PRODUCT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:PRODUCT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:PRODUCT_CATEGORY__NUMBERING$$</div>
                            <div class="form-group__content">$$input:PRODUCT_CATEGORY__NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:FIXED_ASSET_NUMBERING$$</div>
                            <div class="form-group__content">$$input:FIXED_ASSET_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:RFP_NUMBERING$$</div>
                            <div class="form-group__content">$$input:RFP_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EXPENSE_CLAIM_NUMBERING$$</div>
                            <div class="form-group__content">$$input:EXPENSE_CLAIM_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:STOCK_ADJUSTMENT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:STOCK_ADJUSTMENT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:STOCK_TRANSFER_NUMBERING$$</div>
                            <div class="form-group__content">$$input:STOCK_TRANSFER_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:MANUAL_TRANSACTION_NUMBERING$$</div>
                            <div class="form-group__content">$$input:MANUAL_TRANSACTION_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:BANK_PAYMENT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:BANK_PAYMENT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:BANK_RECEIPT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:BANK_RECEIPT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CASH_PAYMENT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:CASH_PAYMENT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CASH_RECEIPT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:CASH_RECEIPT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:PREPAYMENT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:PREPAYMENT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SUPPLIER_CREDIT_NUMBERING$$</div>
                            <div class="form-group__content">$$input:SUPPLIER_CREDIT_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CUSTOMER_REFUND_NUMBERING$$</div>
                            <div class="form-group__content">$$input:CUSTOMER_REFUND_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SUPPLIER_REFUND_NUMBERING$$</div>
                            <div class="form-group__content">$$input:SUPPLIER_REFUND_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:RENTAL_ORDER_NUMBERING$$</div>
                            <div class="form-group__content">$$input:RENTAL_ORDER_NUMBERING$$</div>
                        </div>
                        $$input:RECEIVE_PAYMENT_NUMBERING$$
                        $$input:PAY_BILL_NUMBERING$$
                    </div>
                </div>
            </div>

            <div class="collapsible-body margin-top">
                <div class="">
                    <div class="">
                        <div class="form-group">
                            <div class="form-group__label">$$label:INVOICE_NUMBERING$$</div>
                            <div class="form-group__content">$$input:INVOICE_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SQ_NUMBERING$$</div>
                            <div class="form-group__content">$$input:SQ_NUMBERING$$</div>
                        </div>
                        $$input:SO_NUMBERING$$
                        <div class="form-group">
                            <div class="form-group__label">$$label:PO_NUMBERING$$</div>
                            <div class="form-group__content">$$input:PO_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:PI_NUMBERING$$</div>
                            <div class="form-group__content">$$input:PI_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CREDIT_NOTE_NUMBERING$$</div>
                            <div class="form-group__content">$$input:CREDIT_NOTE_NUMBERING$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:RESTART_NUMBERING$$</div>
                            <div class="form-group__content">$$input:RESTART_NUMBERING$$</div>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>
</div>