<div class="contentBar" >
    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required" data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active" onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:TITLE$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NAME$$</div>
                            <div class="form-group__content">$$input:NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TYPE$$</div>
                            <div class="form-group__content">$$input:TYPE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ACTIVE$$</div>
                            <div class="form-group__content">$$input:ACTIVE$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:NUMBER$$</div>
                            <div class="form-group__content">$$input:NUMBER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DESCRIPTION$$</div>
                            <div class="form-group__content">$$input:DESCRIPTION$$</div>
                        </div>

                    </div>
                </div>
            </div>
        </li>

        <li class="slideDown-box group active">
            <div class="collapsible-header active" onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:FINANCIAL_INFORMATION$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:SALES_PRICE$$</div>
                            <div class="form-group__content">$$input:SALES_PRICE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SALES_ACCOUNT$$</div>
                            <div class="form-group__content">$$input:SALES_ACCOUNT$$</div>
                        </div>
                        $$input:FROM_PURCHASE_INVOICE$$
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:PURCHASE_PRICE$$</div>
                            <div class="form-group__content">$$input:PURCHASE_PRICE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:PURCHASE_ACCOUNT$$</div>
                            <div class="form-group__content">$$input:PURCHASE_ACCOUNT$$</div>
                        </div>
                        $$input:ENABLE_IT$$
                    </div>
                </div>
            </div>
        </li>

        $$input:MULTI_TABLE_PANEL$$
        $$input:ASSEMBLY_ITEMS$$
        $$input:WAREHOUSE_PANEL$$
        $$input:PRODUCT_GROUP$$
        <li class="slideDown-box group active hideCustomField">
            <div class="collapsible-header active " onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:MEASUREMENT_TITLE$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:CATEGORY$$</div>
                            <div class="form-group__content">$$input:CATEGORY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:BRAND$$</div>
                            <div class="form-group__content">$$input:BRAND$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:inputpricelevel$$</div>
                            <div class="form-group__content">$$input:inputpricelevel$$</div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DISCOUNT_PANEL$$</div>
                            <div class="form-group__content">$$input:DISCOUNT_PANEL$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TAX$$</div>
                            <div class="form-group__content">$$input:TAX$$</div>
                        </div>
                        $$input:TAX2$$
                    </div>
                </div>
            </div>
        </li>

        $$input:MORE_DETAILS$$

        <li class="slideDown-box group hideCustomField">
            <div class="collapsible-header" onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:ATTACHMENTS_TITLE$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:ATTACHMENTS$$</div>
                            <div class="form-group__content">$$input:ATTACHMENTS$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        $$input:IMAGE_UPLOAD$$
                    </div>
                </div>
            </div>
        </li>
        $$input:inputproductcustomfields$$
        $$input:SERIAL$$
        $$input:inputcustomfields$$
    </ul>

</div>
