<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="mb-4">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:crmaccount$$
                            $$input:customer$$
                        </div>

                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:date$$
                                </div>

                                <div class="col-6">
                                    $$input:duedate$$
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            $$input:number$$
                        </div>
                    </div>

                    <div class="grid-row">
                        <div class="col-4">
                            $$input:reference$$
                        </div>

                        <div class="col-4">
                            <div class="grid-row">
                                <div class="col-6">
                                    $$input:currency$$
                                </div>

                                <div class="col-6">
                                    $$input:taxcalc$$
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="grid-row">
                                $$input:manager$$

                                <div class="col-auto">
                                    $$input:showmore$$
                                </div>
                            </div>
                        </div>
                    </div>
                    $$input:placeofsupply$$
                    <!--<div class="grid-row">
                        <div class="col-4">
                            $$input:placeofsupply$$
                        </div>
                        <div class="col-4">
                            $$input:reversecharge$$
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4">
        <div class="invoice__products-table">
            <!-- place table here -->
            $$input:itemtable$$
        </div>
    </div>

    <div class="mb-4">
        <div class="grid-row file--purchase-order">
            <div class="col">
                $$input:instruction$$
                $$input:allocationpanel$$
                $$input:expensereportlink$$
            </div>
            <div class="col-auto offset-1">
                $$input:totalstable$$
            </div>
        </div>
    </div>
    <div class="col" style="text-align: center; width: auto; float: right;">
        <br>
        $$input:messagetouser$$
    </div>
</div>