<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:MY_CSV_FILE_HAS_HEADERS$$</div>
                            <div class="form-group__content">$$input:MY_CSV_FILE_HAS_HEADERS$$</div>
                        </div>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:SUPPLIER_NUMBER$$</div>
                            <div class="form-group__content">$$input:SUPPLIER_NUMBER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DATE$$</div>
                            <div class="form-group__content">$$input:DATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CURRENCY$$</div>
                            <div class="form-group__content">$$input:CURRENCY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ITEM_NUMBER$$</div>
                            <div class="form-group__content">$$input:ITEM_NUMBER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TAX_LIST$$</div>
                            <div class="form-group__content">$$input:TAX_LIST$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ACCOUNT$$</div>
                            <div class="form-group__content">$$input:ACCOUNT$$</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:PO_NUMBERS$$</div>
                            <div class="form-group__content">$$input:PO_NUMBERS$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DUE_DATE$$</div>
                            <div class="form-group__content">$$input:DUE_DATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:EXCHANGE_RATE$$</div>
                            <div class="form-group__content">$$input:EXCHANGE_RATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:QUANTITY$$</div>
                            <div class="form-group__content">$$input:QUANTITY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:PRICE$$</div>
                            <div class="form-group__content">$$input:PRICE$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
