<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:ENGLISH$$
                    </div>
                    <div class="col-4">
                        $$input:RUSSIAN$$
                    </div>
                    <div class="col-4">
                        $$input:ARABIC$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:UZBEK$$
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>