<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row mb-4">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:CUSTOMER$$
                    </div>
                    <div class="col-4">
                        $$input:DUE_DATE$$
                    </div>
                    <div class="col-4">
                        $$input:NUMBER$$
                    </div>
                </div>

                <div class="grid-row">
                    <div class="col-4">
                        $$input:MANAGER$$
                    </div>
                    <div class="col-4">
                        $$input:PROJECT$$
                    </div>
                    <div class="col-4">
                        $$input:inputshowmore$$
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="invoice__products-table">
        $$input:ITEMS_TABLE$$
    </div>


    <!--<div class="invoice-block">-->
    <!--<div class="section-box">-->
    <!--<div class="group-box group-box&#45;&#45;united">-->
    <!--<div class="group-box__items">-->
    <!--$$input:CUSTOMER$$-->
    <!--$$input:PROJECT$$-->
    <!--$$input:DUE_DATE$$-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="group-box__items">-->
    <!--$$input:LOCATION$$-->
    <!--$$input:NUMBER$$-->
    <!--$$input:CUSTOM_HTML_TEMPLATE$$-->
    <!--</div>-->
    <!--<div class="group-box__items">-->
    <!--$$input:MANAGER$$-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="section-box">-->
    <!--<div class="item-table__container">-->
    <!--$$input:ITEMS_TABLE$$-->
    <!--</div>-->
    <!--</div>-->
    <div class="section-box">
        <div class="group-box__items">
            $$input:inputattachments$$
        </div>
        <div class="group-box__items">
            $$input:inputnotes$$
        </div>
    </div>
    <div class="section-box">
        <div id="inv__action-btns" class="group-box group-box--width-free group-box--align-right group-box--side-out">
            <div class="group-box__items">
            </div>
        </div>
    </div>
</div>
<!--</div>-->