<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row mb-4">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:CUSTOMER$$
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:DATE$$
                            </div>
                            <div class="col-6">
                                $$input:DUE_DATE$$
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:SQ_NUMBER$$
                            </div>
                            <div class="col-6">
                                $$input:NUMBER$$
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:PROJECT_MANAGER$$
                    </div>
                    <div class="col-4">
                        $$input:CUSTOM_FIELD_ITEM$$
                    </div>
                    <div class="col-4">
                        <div class="col-auto">
                            $$input:inputshowmore$$
                        </div>
                        $$input:MAIL_ADDRESS$$
                        $$input:CUSTOM_HTML_TEMPLATE$$
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-4">
                        $$input:SEND_NOTIFICATION_TO_SUPPLIERS$$
                    </div>
                </div>
            </div>
            $$input:inputcustomfields$$
        </div>
    </div>
    <div class="invoice__products-table">
        $$input:ITEMS_TABLE$$
    </div>
    <div class="section-box">
        <div id="inv__action-btns" class="group-box group-box--width-free group-box--align-right group-box--side-out">
            <div class="group-box__items">
                $$input:BUTTON_PANEL$$
            </div>
        </div>
    </div>
</div>
<!--<div class="invoice-block">-->
<!--<div class="section-box">-->
<!--<div class="group-box group-box&#45;&#45;united">-->
<!--<div class="group-box__items">-->
<!--$$input:REQUEST_FROM$$-->
<!--$$input:PROJECT$$-->
<!--$$input:DATE$$-->
<!--$$input:DUE_DATE$$-->
<!--$$input:NUMBER$$-->
<!--$$input:SQ_NUMBER$$-->
<!--</div>-->
<!--</div>-->

<!--<div class="group-box__items">-->
<!--$$input:MAIL_ADDRESS$$-->
<!--$$input:SEND_NOTIFICATION_TO_SUPPLIERS$$-->
<!--$$input:CUSTOM_HTML_TEMPLATE$$-->
<!--</div>-->
<!--<div class="group-box">-->
<!--<div class="group-box__items">-->
<!--$$input:INTRODUCTION$$-->
<!--</div>-->
<!--</div>-->
<!--$$input:inputcustomfields$$-->

<!--<div class="item-table__container">-->
<!--$$input:ITEMS_TABLE$$-->
<!--</div>-->
<!--</div>-->

<!--<div class="section-box">-->
<!--<div class="group-box__items">-->
<!--$$input:inputattachments$$-->
<!--</div>-->
<!--<div class="group-box__items">-->
<!--$$input:NOTES$$-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
