<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">

            <div class="collapsible-body no-border file--signature_add_edit_view">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__label">$$label:USER$$</div>
                            <div class="form-group__content">$$input:USER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SIGNATURE_CONTENT$$</div>
                            <div class="form-group__content">$$input:SIGNATURE_CONTENT$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
