<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="">
            <div class="grid-row">
                <div class="col">
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:name$$
                        </div>
                        <div class="col-4">
                            $$input:date$$
                        </div>
                        <div class="col-4">
                            $$input:number$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:fromwarehouse$$
                        </div>
                        <div class="col-4">
                            $$input:towarehouse$$
                        </div>
                        <div class="col-4">
                            $$input:fromgrn$$
                        </div>
                    </div>
                    <div class="grid-row">
                        <div class="col-4">
                            $$input:approver$$
                        </div>
                        <div class="col-4">
                            $$input:frompi$$
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="invoice__products-table">
                            $$input:itemtable$$
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
