<div class="contentBar" style="padding:0 10px;margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">

        <li class="slideDown-box group active">
            <div class="collapsible-body no-border file--switchvox">
                <div class="single-column">
                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:USER_NAME$$</h5>
                        <div class="field">$$input:USER_NAME$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:PASSWORD$$</h5>
                        <div class="field">$$input:PASSWORD$$</div>
                    </div>

                    <div class="column">
                        <h5 class="custom-form-item__dt">$$label:SERVER_ID$$</h5>
                        <div class="field">$$input:SERVER_ID$$</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
