<div class="contentBar" style="padding:0 10px; margin-top:2px;">

    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">
            <div class="collapsible-header active"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:TIMESHEET_SETTINGS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:DAY_OF_WEEK_LIST$$</div>
                            <div class="form-group__content">$$input:DAY_OF_WEEK_LIST$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SETTING_APPROVAL$$</div>
                            <div class="form-group__content">$$input:SETTING_APPROVAL$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SORT_TIMESHEET_BY_TASK_NAME$$</div>
                            <div class="form-group__content">$$input:SORT_TIMESHEET_BY_TASK_NAME$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TIMESHEET_DATE_FORMAT$$</div>
                            <div class="form-group__content">$$input:TIMESHEET_DATE_FORMAT$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:CALCULATE_PERCENTAGE_COMPLETED$$</div>
                            <div class="form-group__content">$$input:CALCULATE_PERCENTAGE_COMPLETED$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SHOW_COMPLETED_TASKS$$</div>
                            <div class="form-group__content">$$input:SHOW_COMPLETED_TASKS$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TIMESHEET_COMMENT_REQUIRED$$</div>
                            <div class="form-group__content">$$input:TIMESHEET_COMMENT_REQUIRED$$</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:SHOW_TASK_RELATED$$</div>
                            <div class="form-group__content">$$input:SHOW_TASK_RELATED$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SHOW_TIMESHEET_HOUR_TYPES$$</div>
                            <div class="form-group__content">$$input:SHOW_TIMESHEET_HOUR_TYPES$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SHOW_TO_DO_LIST_TASKS$$</div>
                            <div class="form-group__content">$$input:SHOW_TO_DO_LIST_TASKS$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:ENABLE_MULTIPLE_TIMER$$</div>
                            <div class="form-group__content">$$input:ENABLE_MULTIPLE_TIMER$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:SAVE_TIMER_IN_TO_TIMESHEET_AUTOMATICALLY$$</div>
                            <div class="form-group__content">$$input:SAVE_TIMER_IN_TO_TIMESHEET_AUTOMATICALLY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:DAILY_FILL_TIMESHEET_FROM_RES_UTIL$$</div>
                            <div class="form-group__content">$$input:DAILY_FILL_TIMESHEET_FROM_RES_UTIL$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:TIMESHEET_APPROVAL_COMMENT_REQUIRED$$</div>
                            <div class="form-group__content">$$input:TIMESHEET_APPROVAL_COMMENT_REQUIRED$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:TIMESHEET_VALIDATIONS$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_TASK_START$$</div>
                            <div class="form-group__content">$$input:VALIDATE_TASK_START$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_TASK_END$$</div>
                            <div class="form-group__content">$$input:VALIDATE_TASK_END$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_HOLIDAY$$</div>
                            <div class="form-group__content">$$input:VALIDATE_HOLIDAY$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_LEAVE_REQUEST$$</div>
                            <div class="form-group__content">$$input:VALIDATE_LEAVE_REQUEST$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_DAY_OFF$$</div>
                            <div class="form-group__content">$$input:VALIDATE_DAY_OFF$$</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_BY_ESTIMATE$$</div>
                            <div class="form-group__content">$$input:VALIDATE_BY_ESTIMATE$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_PAST_TIMESHEET$$</div>
                            <div class="form-group__content">$$input:VALIDATE_PAST_TIMESHEET$$</div>
                            <div class="form-group__content">$$input:VALIDATE_PAST_LIST$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_FUTURE_TIMESHEET$$</div>
                            <div class="form-group__content">$$input:VALIDATE_FUTURE_TIMESHEET$$</div>
                            <div class="form-group__content">$$input:VALIDATE_FUTURE_LIST$$</div>
                        </div>
                        <div class="form-group">
                            <div class="form-group__label">$$label:VALIDATE_MAXIMUM_HOURS$$</div>
                            <div class="form-group__content">$$input:VALIDATE_MAXIMUM_HOURS$$</div>
                            <div class="form-group__content">$$input:VALIDATE_TIME_SLOT$$
                                $$input:VALIDATE_HOURS$$
                                $$input:VALIDATE_HOURS_LIST$$
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="slideDown-box group">
            <div class="collapsible-header"
                 onclick="var myclick=this.parentElement;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; } var myclick=this;if(myclick &amp;&amp; myclick.className);{var cls=myclick.className;if(cls.indexOf('active')>=0){cls=cls.replace('active','');}else{cls+=' active';}myclick.className=cls; }">
                <a style="cursor: pointer;"><span>$$label:TIMESHEET_REQUIRED_FOR$$</span></a>
            </div>
            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="form-group__content">$$input:REQUIRED_SELECTOR$$</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
