<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="grid-row">
            <div class="col">
                <div class="grid-row">
                    <div class="col-4">
                        $$input:reference$$
                    </div>
                    <div class="col-4">
                        $$label:title$$
                    </div>
                    <div class="col-4">
                        <div class="grid-row">
                            <div class="col-6">
                                $$input:date$$
                            </div>
                            <div class="col-6">
                                $$input:amount$$
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>