<div class="content-box content-box--white">
    <div class="">
        <div class="">
            <div class="grid-row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label">$$label:LOGIN$$</div>
                        <div class="form-group__content">$$input:LOGIN$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:EMAIL$$</div>
                        <div class="form-group__content">$$input:EMAIL$$</div>
                    </div>

                    <div class="form-group">
                        <div class="form-group__label">$$label:START_PAGE$$</div>
                        <div class="form-group__content">$$input:START_PAGE$$</div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="form-group">
                        $$input:CURRENT_PASSWORD$$
                    </div>
                    <!--<div class="form-group">-->
                    <!--<div class="form-group__label">$$label:CURRENT_PASSWORD$$</div>-->
                    <!--<div class="form-group__content">$$input:CURRENT_PASSWORD$$</div>-->
                    <!--</div>-->
                    <div class="form-group">
                        <div class="form-group__label">$$label:NEW_PASSWORD$$</div>
                        <div class="form-group__content">$$input:NEW_PASSWORD$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:REENTER_PASSWORD$$</div>
                        <div class="form-group__content">$$input:REENTER_PASSWORD$$</div>
                    </div>

                </div>

                <div class="col-4">

                    <div class="form-group">
                        <div class="form-group__label">$$label:COUNTRY$$</div>
                        <div class="form-group__content">$$input:COUNTRY$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:TIMEZONE$$</div>
                        <div class="form-group__content">$$input:TIMEZONE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:LANGUAGE$$</div>
                        <div class="form-group__content">$$input:LANGUAGE$$</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

