<div class="contentBar">
    <ul class="collapsible--panels collapsible--arrows-left collapsible collapsible--gwt required"
        data-collapsible="expandable">
        <li class="slideDown-box group active">

            <div class="collapsible-body">
                <div class="grid-row">
                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:EFFECTIVE_DATE$$</div>
                            <div class="form-group__content">$$input:EFFECTIVE_DATE$$</div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <div class="form-group__label">$$label:ZONE$$</div>
                            <div class="form-group__content">$$input:ZONE$$</div>
                        </div>
                    </div>
                </div>

                <div class="grid-row">
                    <div class="form-group">
                        <div class="form-group__label">$$label:WAGE_RATE$$</div>
                        <div class="form-group__content">$$input:WAGE_RATE$$</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>