<div class="content-box content-box--white">
    <div class="width-limiter">
        <div class="">
            <div class="grid-row">
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label">$$label:NAME$$</div>
                        <div class="form-group__content">$$input:NAME$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:OWNER$$</div>
                        <div class="form-group__content">$$input:OWNER$$</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label">$$label:CONTACT_INFORMATION$$</div>
                        <div class="form-group__content">$$input:CONTACT_INFORMATION$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:PHONE$$</div>
                        <div class="form-group__content">$$input:PHONE$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:CRM_ACCOUNT_FAX$$</div>
                        <div class="form-group__content">$$input:CRM_ACCOUNT_FAX$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:EMAIL$$</div>
                        <div class="form-group__content">$$input:EMAIL$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:EMPLOYEE$$</div>
                        <div class="form-group__content">$$input:EMPLOYEE$$</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <div class="form-group__label">$$label:ADDRESS$$</div>
                        <div class="form-group__content">$$input:ADDRESS$$</div>
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">$$label:NOTES$$</div>
                        <div class="form-group__content">$$input:NOTES$$</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>