.coo-dialogbox .dialogTop {
    height: 27px;
    cursor: move;
}

.coo-dialogbox .Caption {
    color: #15428b !important;
    font: bold 11px tahoma, arial, verdana, sans-serif !important;
    padding-left: 6px !important;
}

.coo-dialogbox .dialogTopLeft {
    background: purple url(mainStyles/images/default/window/left-corners.png) no-repeat 0 0;
}

.coo-dialogbox .dialogTopLeft div {
    width: 6px;
}

.coo-dialogbox .dialogTopCenter {
    width: 100%;
    background: transparent url(mainStyles/images/default/window/top-bottom.png) repeat-x 0 0 !important;
    background-color: purple !important;
}

.coo-dialogbox .dialogTopCenterInner {

}

.coo-dialogbox .dialogTopRight {
    background: transparent url(mainStyles/images/default/window/right-corners.png) repeat-x 0 0 !important;
    background-color: purple !important;
}

.my-shell-hdr-r {
    background: transparent url(mainStyles/images/default/window/right-corners.png) no-repeat right 0 !important;
}

.coo-dialogbox .dialogTopRight div {
    width: 6px;
}

.my-shell-body-wrapper {
    border: 1px solid #96AECD;
}

.my-shell-body-wrapper-inner {
    background-color: #dfe8f6;
    filter: alpha(opacity = 85);
    opacity: .85;
    height: 100%;
}

.my-shell-body {

}

.coo-dialogbox  .dialogMiddleLeft {
    background: transparent url(mainStyles/images/default/window/left-right.png) repeat-y 0 0;
    background-color: purple !important;
}

.coo-dialogbox .dialogMiddleRight {
    background: transparent url(mainStyles/images/default/window/left-right.png) repeat-y right 0;
    background-color: purple !important;
}

.coo-dialogbox .dialogMiddleRight div, .coo-dialogbox  .dialogMiddleLeft div {
    width: 6px;
}

.coo-dialogbox .dialogMiddleCenter {
    vertical-align: top !important;
    background-color: #C0ACD9;
}

.coo-dialogbox .dialogBottomLeft {
    background: transparent url(mainStyles/images/default/window/left-corners.png) no-repeat 0 bottom;
    background-color: purple !important;
}

.coo-dialogbox .dialogBottomCenter {
    background: transparent url(mainStyles/images/default/window/top-bottom.png) repeat-x 0 bottom;
    background-color: purple !important;
}

.coo-dialogbox .dialogBottomRight {
    background: transparent url(mainStyles/images/default/window/right-corners.png) no-repeat right bottom;
    background-color: purple !important;
}

.coo-dialogbox  .dialogBottomLeft div {
    line-height: 1px;
    font-size: 1px;
    height: 6px;
}

.close-btn-db {
    position: absolute;
    right: 10px;
    top: 8px;
}

.pin-btn {
    position: absolute;
    right: 29px;
    top: 8px;
}