<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style type="text/css">
        body {
            font-family: 'Arial', sans-serif;
        }
        td {
            padding: 3px;
        }
        .title {
            font-size: 9pt;
        }
        .name {
            font-size: 7pt;
        }
        .value {
            font-size: 8pt;
        }
        .personalValue {
            font-size: 7pt;
        }
        .nameCapital {
            text-transform: capitalize;
        }

    </style>
</head>
<body>
<div>
    <img alt="images" src="https://workforcetrack.s3.amazonaws.com/000000000000/public/65159/a2113e82-397f-49fd-a58a-cdf4f4b93dff?AWSAccessKeyId=AKIAIROQMC77E5UKWBWQ" style="display: none;"/>
    #if($itextGenericPdfData.companyData.companyName == 'KPI Software Inc' or $itextGenericPdfData.companyData.companyLogoUrl == 'https://apps.kpi.com/customisation/kpi.com/images/kpilogo.png')
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="width: 88px; display: none;"/>
    #else
    <img alt="logo kpi" src="$itextGenericPdfData.companyData.companyLogoUrl" style="max-width: 100%; max-height: 100%; display: none;"/>
    #end

    #set($locationTable = $itextGenericPdfData.customData.get('LOCATION_TABLE'))

    #set($nameLabel = $locationTable.rows.get('NAME').get('COLUMN_NAME'))
    #set($countryLabel = $locationTable.rows.get('HOME_COUNTRY').get('COLUMN_NAME'))
    #set($stateLabel = $locationTable.rows.get('HOME_STATE').get('COLUMN_NAME'))
    #set($cityLabel = $locationTable.rows.get('HOME_CITY').get('COLUMN_NAME'))
    #set($faxLabel = $locationTable.rows.get('LOCATION_FAX').get('COLUMN_NAME'))
    #set($emailLabel = $locationTable.rows.get('EMAIL').get('COLUMN_NAME'))
    #set($phoneLabel = $locationTable.rows.get('PHONE').get('COLUMN_NAME'))
    #set($zipCodeLabel = $locationTable.rows.get('HOME_ZIPCODE').get('COLUMN_NAME'))

    #set($nameValue = $locationTable.rows.get('NAME').get('COLUMN_VALUE'))
    #set($countryValue = $locationTable.rows.get('HOME_COUNTRY').get('COLUMN_VALUE'))
    #set($stateValue = $locationTable.rows.get('HOME_STATE').get('COLUMN_VALUE'))
    #set($cityValue = $locationTable.rows.get('HOME_CITY').get('COLUMN_VALUE'))
    #set($faxValue = $locationTable.rows.get('LOCATION_FAX').get('COLUMN_VALUE'))
    #set($emailValue = $locationTable.rows.get('EMAIL').get('COLUMN_VALUE'))
    #set($phoneValue = $locationTable.rows.get('PHONE').get('COLUMN_VALUE'))
    #set($zipCodeValue = $locationTable.rows.get('HOME_ZIPCODE').get('COLUMN_VALUE'))


     <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $nameLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($nameValue != '') $nameValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $emailLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($emailValue != '') $emailValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $phoneLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($phoneValue != '') $phoneValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $faxLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($faxValue != '') $faxValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table width="100%" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
        <tr>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $cityLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($cityValue != '') $cityValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $stateLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($stateValue != '') $stateValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $countryLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($countryValue != '') $countryValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
            <td width="25%" style="padding: 0; margin: 0;" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="100%" class="name nameCapital"> $zipCodeLabel </td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;" class="value">
                            #if($zipCodeValue != '') $zipCodeValue #else — #end
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>

</body>
</html>