<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <style type="text/css">
        body {
            font-family: 'Arial', sans-serif;
        }

        td {
            padding: 3px;
        }

        .title {
            font-size: 9pt;
        }

        .name {
            font-size: 7pt;
        }

        .value {
            font-size: 8pt;
        }

        .personalValue {
            font-size: 7pt;
        }

        .nameCapital {
            text-transform: capitalize;
        }

    </style>
</head>
<body>

</body>
</html>